<% content_for :title,  t('wine_stoppers') %>
<% content_for :header,  t('wine_stoppers') %>
<div id="content">

<%= br() +  photo('935.jpeg')%>
<%= brn(3) + lightbox_text('125.jpeg','g0', 'wine_stoppers_text0') + brn(3)%>
<%= gallery('47.jpeg 535.jpeg', 'g1') + itext('wine_stoppers_text1')%>
<%= brn(3) + lightbox_text('33.jpeg','g2', 'wine_stoppers_text2') + brn(3)%>
<%= brn(3) + lightbox_text('107.jpeg','g3', 'wine_stoppers_text3_html') + brn(3)%>
<%= brn(3) + lightbox_text('208.jpeg','g4', 'wine_stoppers_text4_html') + brn(3)%>
<%= brn(3) + lightbox_text('123.jpeg','g5', 'wine_stoppers_text5_html') + brn(3)%>
<%= brn(3) + lightbox_text('100.jpeg','g6', 'wine_stoppers_text6_html') + brn(3)%>
<%= brn(3) + lightbox_text('414.jpeg','g7', 'wine_stoppers_text7_html') + brn(8)%>

</div>
