<% content_for :title,  t('engraving') %>
<% content_for :header,  t('engraving') %>
<div id="content">
<% content_for :head do %>
  <meta name="Keywords" content="Todd Ramirez, Custom Rifles, Premium Rifle Maker, custom gunmaker, shotguns, gun engraving, gunsmith, custom work, engraving">
  <meta name="Description" content="Todd Ramirez, Premium Rifle Builder, Custom Bolt Action Rifles, Engraving on Premium Guns">
<% end %>
<%= xtext('engraving_text0')%>
<%= ptext('engraving_text1')%>
<%= link_to(ptext('engraving_text2'), custom_rifles_path) + brn(2)%>
<%= gallery('522.jpeg 166.jpeg 618.jpeg 221.jpeg 76.jpeg','g0') + brn(3)%>
<%= photo('20.jpeg') + brn(3)%>
<%= photo('1.jpeg') + brn(5)%>
<%= ptext('engraving_text3')+ brn(2)%>
<%= gallery('78.jpeg 56.jpeg 169.jpeg','g1')%>
<%= brn(3) + ptext('engraving_text4') + brn(2)%>
<%= photo('562.jpeg') + brn(3)%>
<%= photo('732.jpeg') + brn(3)%>
<%= photo('281.jpeg') + brn(3)%>
<%= photo('446.jpeg') + brn(3)%>
<%= photo('425.jpeg') + brn(3)%>
<%= photo('68.jpeg') + brn(10)%>
</div>
