- content_for :title,  t('engraving')
- content_for :header,  t('engraving')
#content
  - content_for :head do
    %meta{content: "Todd Ramirez, Custom Rifles, Premium Rifle Maker, custom gunmaker, shotguns, gun engraving, gunsmith, custom work, engraving", name: "Keywords"}/
    %meta{content: "Todd Ramirez, Premium Rifle Builder, Custom Bolt Action Rifles, Engraving on Premium Guns, Shotguns, and Restoration projects.", name: "Description"}/
  = xtext('engraving_text0')
  = ptext('engraving_text1')
  = link_to(ptext('engraving_text2'), 'custom-rifles') + brn(2)
  = gallery('522.jpeg 166.jpeg 618.jpeg 221.jpeg 76.jpeg','g0') + brn(3)
  = photo('20.jpeg') + brn(3)
  = photo('1.jpeg') + brn(5)
  = ptext('engraving_text3')+ brn(2)
  = gallery('78.jpeg 56.jpeg 169.jpeg','g1')
  = brn(3) + ptext('engraving_text4') + brn(2)
  = gallery('7597.jpeg 7595.jpeg 7587.jpeg 7588.jpeg 7589.jpeg 7600.jpeg 7604.jpeg 7605.jpeg 7596.jpeg 7599.jpeg 7602.jpeg 7603.jpeg 7606.jpeg 7607.jpeg','g22','280 front sights, 280 rings and bases, 280 trigger guard, 280 floor plate, 280 skeleton butt plate, 280 rings and bases,  280 swivels, 280 barrel band, 280 sights and barrel band, 280 barrel, 280 rifle, todd ramirez 280 rifle, custom 280 rifle, custom 280 rifle') +brn(3)
  = gallery('7583.jpeg 7593.jpeg 7609.jpeg 7610.jpeg 7613.jpeg 7614.jpeg', 'g23','375 trap door grip cap, 375 floorplate engraving, todd ramirez 375 rifle with scope, 375 front sight and barrel band, 375 barrel with engraving, 375 floorplate with gold lion and engraving') + brn(3)
  = photo('562.jpeg') + brn(3)
  = photo('732.jpeg') + brn(3)
  = photo('281.jpeg') + brn(3)
  = photo('446.jpeg') + brn(3)
  = photo('425.jpeg') + brn(3)
  = photo('68.jpeg') + brn(10)
