<% content_for :title,  t('boddington_trophy') %>
<% content_for :header,  t('boddington_trophy') %>
<% content_for :head do %>
<meta name="Keywords" content="Premium Rifle Maker,custom gunmaker,shotguns,Craig Boddington,Boddington hunting rifle">
<meta name="Description" content=" Todd Ramirez Premium Rifle builder built Craig Boddington's 7 x 57 rifle, which Craig says is his favorite. ">
<% end %>
<div id="content">
<%= xtext('boddington_trophy_text0') + brn(3)%>
<%= ttext('boddington_trophy_text1') + brn(3)%>
<%= lightbox_qtext('750.jpeg', 'b0', 'boddington_trophy_text2')%>
<%= brn(3) + lightbox_qtext('823.jpeg', 'b1', 'boddington_trophy_text3')%>
<%= brn(3) + gallery('635.jpeg 680.jpeg', 'b2')%>
<%= qtext('boddington_trophy_text4')%>
<%= brn(3) + lightbox_qtext('663.jpeg', 'b3', 'boddington_trophy_text5')%>
<%= brn(3) + gallery('633.jpeg 822.jpeg 906.jpeg', 'b4')%>
<%= qtext('boddington_trophy_text6')%>
<%= brn(3) + gallery('781.jpeg 831.jpeg 659.jpeg', 'b5')%>
<%= qtext('boddington_trophy_text7')%>
<%= brn(3) + gallery('639.jpeg 685.jpeg 714.jpeg', 'b6')%>
<%= qtext('boddington_trophy_text8')%>
<%= brn(3) + lightbox_qtext('888.jpeg', 'b7', 'boddington_trophy_text9')%>
<%= brn(3) + gallery('736.jpeg 631.jpeg', 'b8')%>
<%= qtext('boddington_trophy_text10')%>
<%= brn(3) + lightbox_qtext('891.jpeg', 'b9', 'boddington_trophy_text11')%>
<%= brn(3) + lightbox_qtext('1999.jpeg', 'b10', 'boddington_trophy_text12')%>
<%= brn(3) + lightbox_qtext('1920.jpeg', 'b11', 'boddington_trophy_text13')%>
<%= brn(3) + lightbox_qtext('534.jpeg', 'b12', 'boddington_trophy_text14')%>
</div>
