- content_for :title,  t('custom_rifles')
- content_for :header,  t('custom_rifles')
- content_for :head do
  %meta{content: "Todd Ramirez, custom hunting rifles, accuracy rifles, gunsmith, premium rifles, custom gun builder,custom gun maker, premium gunmaker, big game rifles, custom shop, mauser, winchester model 70, american classic custom rifle, square bridging,Mauser 98, Winchester Model 70, Craig Boddington, Left Handed Rifles, holland and holland, purdys, beretta, perazzi ", name: "Keywords"}/
  %meta{content: "Todd Ramirez Premium Rifle Builder, Builds one of a kind bolt action custom rifles, tailored to your individual specifications and desires.  Rifles are built to your hunting style, the game you intend to hunt and your specific goals. Guaranteed to shoot 1/2 moa. We also build shotgun stocks, gun fitting, gunsmithing, leather wrapped recoil pads, and restoration of your fine guns.", name: "Description"}/
#content
  = xtext('custom_rifles_text46')
  = ttext('custom_rifles_text0')
  = xtext('custom_rifles_text1')+ brn(3)
  = xtext('custom_rifles_text51')
  = ptext('custom_rifles_text52_html')
  = lightbox('7594.jpeg','g22','280 premium rifle')
  = lightbox('7598.jpeg','g22','todd ramirez custom 280 rifle')
  = gallery('7597.jpeg 7595.jpeg 7584.jpeg 7585.jpeg 7586.jpeg 7587.jpeg 7588.jpeg 7589.jpeg 7600.jpeg 7601.jpeg 7604.jpeg 7605.jpeg 7596.jpeg 7599.jpeg 7602.jpeg 7603.jpeg 7606.jpeg 7607.jpeg','g22','280 front sights, 280 rings and bases, 280 custom rifle engraving, 280 buttstock, 280 engraving, 280 trigger guard, 280 floor plate, 280 skeleton butt plate, 280 fleur-de-lis checkering, 280 grip, 280 swivels, 280 barrel band, 280 sights and barrel band, 280 barrel, 280 rifle, todd ramirez 280 rifle, custom 280 rifle, custom 280 rifle') +brn(8)
  = xtext('custom_rifles_text56')
  = ptext('custom_rifles_text57_html')
  = lightbox('7671.jpeg', 'g25', '30.06 Premium Square Bridged Custom Rifle')
  = lightbox('7677.jpeg', 'g25', '30.06 Premium Square Bridged Custom Rifle')
  = lightbox('7679.jpeg', 'g25', '30.06 Premium Square Bridged Custom Rifle')
  = gallery('7664.jpeg 7665.jpeg 7667.jpeg 7669.jpeg 7670.jpeg 7675.jpeg 7680.jpeg 7681.jpeg 7672.jpeg 7674.jpeg 7668.jpeg 7676.jpeg ', 'g25', '30.06 todd ramirez rifle with mosaic cross bolts, 30.06 custom rifle with gold initial plate-engraving and skeleton grip cap, 30.06 with sitka engraved on floorplate, 30.06 custom rifle buttstock, 30.06 todd ramirez rifle with exhbition turkish walnut, 30.06 todd ramirez express sights, 30.06 todd ramirez express sights and barrel band, todd ramirez 30.06 turkish walnut buttstock, engraving of sitka deer loorplate in white, 30.06 wart hog enraved on trigger guard, 30.06 target, 30.06 target on todd ramirez build') +brn(8)


  = ttext('custom_rifles_text55') + brn(2)
  = photo('7648.jpeg','30.06 premium rifle')
  = gallery('7623.jpeg 7631.jpeg 7628.jpeg 7636.jpeg 7643.jpeg 7661.jpeg 7660.jpeg', 'g24','30.06 rifle stock, 30.06 cheek piece, 30.06 turkish walnut, 30.06 crossbolts and bolt handle, 30.06 scope and rings, 30.06 right side of sight, 30.06 left side of sight') + brn(2)
  = xtext('custom_rifles_text53')
  = ptext('custom_rifles_text54_html')
  = gallery('7583.jpeg 7590.jpeg 7592.jpeg 7593.jpeg 7608.jpeg 7609.jpeg 7610.jpeg 7611.jpeg 7613.jpeg 7614.jpeg', 'g23','375 trap door grip cap, 375 buttstock, 375 buttstock, 375 floorplate engraving, 375 todd ramirez custom rifle, todd ramirez 375 rifle with scope, 375 front sight and barrel band, 375 premium todd ramirez rifle, 375 barrel with engraving, 375 floorplate with gold lion and engraving,') + brn(8)
  = ttext('custom_rifles_text2')
  = ptext('custom_rifles_text3_html') + br()
  = photo('564.jpeg','30.06 right handed custom rifle with exhibition turkish walnut stock') + brn(2)
  = photo('611.jpeg','30.06 custom rifle with engraving') + brn(2)
  = gallery('255.jpeg 309.jpeg 603.jpeg 407.jpeg 496.jpeg 224.jpeg 195.jpeg 126.jpeg 139.jpeg 559.jpeg', 'g0','Engraved Express Front Hood Sight,custom cross bolts engraved,quarter rib with adjustable sights, engraved heal and toe, color cased and engraved shroud, egraved leopard on floor plate, custom rings engraved,engraved action, color cased and engraved custom skeleton grip cap, custom rifle screws by Todd Ramirez') + brn(8)
  = ttext('custom_rifles_text47')
  = ptext('custom_rifles_text48_html') + brn(3)
  = photo('7551.jpeg', 'Miller Rifle - Premium 30-06 Left Handed') + brn(3)
  = photo('7570.jpeg','30-06 Left Handed Mauser Rifle') +brn(3)
  = gallery('7552.jpeg 7557.jpeg 7558.jpeg 7565.jpeg 7567.jpeg 7569.jpeg 7581.jpeg','g1','30.06 buttstock with leather wrapped pad, 30.06 Mauser Action, 30.06 Express Sights, Left Handed 30.06 Custom Rifle, Color Cased Shroud and Nitre Blued Bolt, 30.06 Express Sight, 30.06 Target') + brn(8)
  = ttext('custom_rifles_text49')
  = ptext('custom_rifles_text50_html') + brn(3)
  = photo('7580.jpeg', '338 Win Mag Custom Rifle') + brn(3)
  = gallery('7556.jpeg 7560.jpeg 7562.jpeg 7572.jpeg 7573.jpeg 7574.jpeg 7575.jpeg','g2','338 Win Mag Mosaic Cross Bolts on Custom Rifle, Exhibition Turkish Walnut Stock, Express Sights 338 Win Mag, Butt Stock Leather Wrapped Pad, Schmidt & Bender 3 x 12 x 42 Illuminate Scope, Express Sights and Barrel Band 338 Wing Mag, Federal 225 Grain 338 Win Mag Target') + brn(8)
  = ttext('custom_rifles_text4') + br()
  = photo('91.jpeg','left handed 7mm stw custom rifle with Celtic engraving') + brn(2)
  = photo('570.jpeg','left handed 7mm stw left handed rifle with turkish walnut stock') + brn(2)
  = photo('59.jpeg','7mm stw Celtic engraved rifle') + brn(2)
  = gallery('596.jpeg 522.jpeg 34.jpeg 165.jpeg 166.jpeg 618.jpeg 916.jpeg 221.jpeg 76.jpeg', 'g3','Celtic engraved custom rings with Schmidt & Bender scope, Celtic engraved 7mm stw front sights, left handed 7mm stw cheek piece, 7mm stw left handed rifle stock, 7mm stw left handed rifle with engraved elk and Celtic engraving, 7mm stw Celtic engraved grip cap and initial plate, left handed 7mm stw target - 5 shot group Nosler ammo, left handed 7mm stw custom rifle, left handed 7mm stw front sight engraved ') + brn(8)
  = ttext('custom_rifles_text5')
  = link_to(ptext('custom_rifles_text6'), 'trophy-room') + br()
  = gallery('416.jpeg 588.jpeg 207.jpeg 28.jpeg 186.jpeg 342.jpeg 505.jpeg', 'g4','375 right handed custom rifle, 375 custom rifle with turkish walnut, 375 color case shroud, 375 right handed custom rifle with Schmidt & Bender scope, 375 right handed custom rifle stock, 375 right handed custom front express sight, 375 front express sight with ivory bead') + brn(8)
  = ttext('custom_rifles_text58') + br()
  = photo('7697.jpeg', 'Custom Built 375 and 300 Win Mag Rifle Pair')
  = photo('7704.jpeg', 'Custom Built 300 Win Mag Rifle with Celtic Engraving')
  = photo('7705.jpeg', 'Custom Built 375 Rifle with Celtic Engraving') + brn(3)
  = gallery('7683.jpeg 7684.jpeg 7686.jpeg 7687.jpeg 7688.jpeg 7689.jpeg 7690.jpeg 7691.jpeg 7692.jpeg 7693.jpeg 7694.jpeg 7696.jpeg 7697.jpeg 7698.jpeg 7699.jpeg 7700.jpeg 7702.jpeg 7703.jpeg 7704.jpeg 7705.jpeg 7707.jpeg', 'g26', 'custom 300 win mag rifle with cletic engraving, cutom built rifle pair in 375 and 300 win mag, 300 win mag custom rifle, skeleton buttplate and grip cap on todd ramirez custom rifle, 375 custom rifle with celtic engraving, 375 custom rifle with cheek piece and leather wrapped pad, 375 custom rifle with express sights, 375 custom rifle with trapdoor grip cap and engraved floorplate and trigger guard, todd ramirez custom rifle, 375 & 300 win mag Todd Ramirez custom rifles, 375 Todd Ramirez rifle with celtic engraving and gold lion, Todd Ramirez rifle with inlaid crossbolts, Todd Ramirez Custom Rifle Pair, 300 win mag Todd Ramirez custom rifle,  Todd Ramirez rifle pair with matching celtic engraving, leather wrapped pad, celtic engraving, todd ramirez custom rifle with schmidt and bender scope, 300 win mag custom rifle by Todd Ramirez, 375 Custom Todd Ramirez rifle, 375 custom rifle by Todd Ramirez') + brn(8)
  = ttext('custom_rifles_text45') + br()
  = photo('2000.jpeg','7mm Weatherby left handed custom rifle') + brn(3)
  = gallery('2001.jpeg 2002.jpeg 2003.jpeg 2004.jpeg 2005.jpeg 2006.jpeg', 'g5','7mm left handed custom rifle with fleur-de-lis checkering, 7mm left handed rifle with nitre blue bolt and color cased shroud, 7mm Weatherby custom rifle, 7mm rifle with custom cross bolts, 7mm cheek piece, 7mm Weatherby custom rifle target') + brn(8)
  = ttext('custom_rifles_text7') + br()
  = photo('1081.jpeg','375 right handed custom rifle with turkish walnut stock') + brn(2)
  = gallery('1033.jpeg 1035.jpeg 1044.jpeg 1085.jpeg 1082.jpeg 1077.jpeg 1096.jpeg 1081.jpeg', 'g6','custom 375 right handed bolt action rifle, custom 375 right handed custom rifle cheek piece,375 right handed custom bottom metal and screws, custom 375 rifle with point pattern checkering, 375 right handed custom rifle with trap door grip cap, 375 custom rifle target - Federal 300 grain and 375 H & H, 375 right hand side of custom rifle, 375 left hand side of custom rifle') + brn(8)
  = ttext('custom_rifles_text8') + br()
  = gallery('1005.jpeg 1000.jpeg 995.jpeg 1012.jpeg 1003.jpeg 1009.jpeg 998.jpeg 997.jpeg 1010.jpeg 1013.jpeg 1001.jpeg 1007.jpeg 1006.jpeg', 'g7','500 Jeffery\'s Custom Rifle built on a Prechtl action, 500 Jeffery color cased shroud, 500 Jeffery custom rifle with cocking piece peep sight,500 Jeffery custom rifle with iron sights, 500 Jeffery\'s cutom rifle with custom bottom metal and cross bolts, 500 Jeffery\'s custom rifle buttstock, 500 Jeffery\'s custom rifle with Schmidt & Bender scope, 500 Jeffery\'s custom rifle with leather wrapped pad, 500 Jeffery\'s custom rifle built on a Prechtl action by Todd Ramirez gun maker,500 Jeffery\'s custom rifle with Schmidt & Bender scope,500 Jeffery\'s rifle with open sights, 500 Jeffery\'s custom rifle top view, 500 Jeffery\'s custom rifle bottom view') + brn(8)
  = ttext('custom_rifles_text10') + br()
  = gallery('987.jpeg 990.jpeg 985.jpeg  994.jpeg 989.jpeg 991.jpeg 992.jpeg 988.jpeg', 'g8','left handed 280 custom rifle with turkish walnut right side, left handed 280 custom rifle with turkish walnut wood left side, 280 custom rifle with custom cross bolts with engraving, 280 custom rifle with nitre blued bolt and color cased shroud, 280 left handed rifle cheek piece, left handed 280 engraved and color cased grip cap, 280 left handed custom rifle target - Federal Premium 140 grain Nosler, 280 left handed custom rifle with Schmidt & Bender scope') + brn(8)
  = ttext('custom_rifles_text11') + br()
  = photo('668.jpeg','416 Rigby built on a Mauser action square bridged right side' ) + brn(2)
  = photo_text('850.jpeg','custom_rifles_text12') + brn(2)
  = gallery('863.jpeg 787.jpeg 708.jpeg 900.jpeg 871.jpeg 190.jpeg', 'g9','416 Rigby Custom Rifle with custom rings and sights, 416 Rigby custom rifle with custom bottom metal, 416 Rigby custom rifle with color case shroud and checkered bolt handle, 416 Rigby custom rifle with point pattern checkering and barrel band, 416 Rigby custom rifle, 416 Rigby custom rifle target - Federal Premium 400 grain trophy bonded bear claw') + brn(8)
  = ttext('custom_rifles_text13')
  = ptext('custom_rifles_text14_html')
  = ttext('custom_rifles_text15')
  = ptext('custom_rifles_text16_html')
  = ttext('custom_rifles_text17')
  = ptext('custom_rifles_text18_html') + brn(8)
  = ttext('custom_rifles_text19') + br()
  = photo('920.jpeg','7 x 57 Craig Boddington Left Handed Custom Rifle') + brn(2)
  = photo('907.jpeg',' 7 x 57 Left Handed Craig Boddington Custom Rifle') + brn(2)
  = gallery('913.jpeg 715.jpeg 704.jpeg 830.jpeg 753.jpeg', 'g10','7 x 57 left handed custom rifle with skeleton butt plate, left handed 7 x 57 Boddington custom rifle with  Bastogne wood, 7 x 57 Boddington Rifle with Skeleton grip cap and custom bottom metal, Boddington 7 x 57 top view of Granite Mountain action with color cased shroud, Boddington 7 x 57 skeleton butt plate checkered') + brn(8)
  = ttext('custom_rifles_text20') + br()
  = photo('905.jpeg','300 Win Mag Square Bridged Custom Rifle right side') + brn(2)
  = photo('645.jpeg','300 Win Mag Square Bridged Custom Rifle left side') + brn(2)
  = gallery('665.jpeg 828.jpeg 739.jpeg', 'g11','300 Win Mag Square Bridged Custom Rifle with Long Tangs, 300 Win Mag Square Bridged Custom Rifle with iron sights and leather wrapped pad, 300 Win Mag Square Bridged Custom Rifle bottom view with floor plate and grip cap') + brn(8)
  = ttext('custom_rifles_text21') + br()
  = gallery('275.jpeg 177.jpeg 548.jpeg 325.jpeg 488.jpeg', 'g12','375 custom rifle square bridged with Schmidt & Bender scope left side, 375 custom rifle square bridged right side, 375 custom rifle with open sights, 375 rifle with custom top view, 375 rifle with custom long tangs, 375 rifle with color cased shroud, 375 custom bolt handle checkered, 375 custom rifle - bottom metal-grip cap-inletted swivels-leather wrapped pad') + brn(8)
  = ttext('custom_rifles_text22') + br()
  = photo('656.jpeg','Mauser 270 custom rifle with Schmidt & Bender Scope') + brn(2)
  = photo('873.jpeg','Mauser 270 custom rifle Bastogne stock with Schnabel forend tip') + brn(8)
  = xtext('custom_rifles_text23')
  = lightbox_text('820.jpeg', 'g13', 'custom_rifles_text24','French Walnut Rifle Blanks, Clarol Walnut Rifle Blanks') + brn(8)
  = ttext('custom_rifles_text25') + br()
  = gallery('78.jpeg 576.jpeg 25.jpeg 1011.jpeg 56.jpeg 169.jpeg', 'g14','Left Handed 7mm stw premium rifle with engraved leopard, 7mm stw custom rifle english walnut stock, 7mm stw custom rifle, 7mm stw custom rifle with leopard engraved on floor plate, 7mm stw custom rifle with floor plate engraving, 7mm stw premium rifle with Celtic engraving and leopard, 7mm stw premium rifle bottom view of rifle') + br()
  = ptext('custom_rifles_text26') + brn(8)
  = ttext('custom_rifles_text27') + br()
  = photo('403.jpeg','378 Square Bridged Mauser action with custom english walnut stock with Schmidt & Bender scope') + brn(2)
  = photo('250.jpeg','378 Custom Rifle with leather wrapped pad') + brn(2)
  = gallery('249.jpeg 55.jpeg 322.jpeg 344.jpeg', 'g15','378 custom rifle with Schmidt & Bender scope, 378 custom rifle bottom metal, 378 custom rifle buttstock view with bolt handle, 378 custom rifle forend checkered, 378 squared bridged custom rifle') + brn(8)
  = xtext('custom_rifles_text28_html') + brn(3)
  = ttext('custom_rifles_text29')
  = ptext('custom_rifles_text30_html') + brn(3)
  = ttext('custom_rifles_text31')
  = ptext('custom_rifles_text32_html') + brn(3)
  = ttext('custom_rifles_text33')
  = ptext('custom_rifles_text34_html') + brn(3)
  = ttext('custom_rifles_text35')
  = ptext('custom_rifles_text36_html') + brn(3)
  = ttext('custom_rifles_text37') + br()
  = photo('329.jpeg','375 H & H buttstock') + brn(2)
  = photo('188.jpeg','375 H & H forearm of rifle with gold lion engraved floor plate') + brn(2)
  = gallery('479.jpeg 406.jpeg', 'g16','custom rifle custom bolt handle, custom rifle point pattern checkering') + brn(8)
  = ttext('custom_rifles_text38') + br()
  = lightbox('303.jpeg', 'g17','25.06 Mauser action squared bridged with fiddle back clarol walnut stock') + brn(5)
  = ttext('custom_rifles_text39')
  = ptext('custom_rifles_text40') + brn(3)
  = ttext('custom_rifles_text41')
  = ptext('custom_rifles_text42_html') + brn(3)
  = photo('281.jpeg','gold lion engraved on floor plate') + brn(2)
  = link_to(ptext('custom_rifles_text43'), 'custom-work') + br()
  = ptext('custom_rifles_text44') + brn(3)
  = br() + ttext('signature_rifle_text0')+ br()
  = br() + ttext('signature_rifle_text1') + br()
  = lightbox('1112.jpeg', 'g18','308 Winchester American Classic Custom Rifle with turkish walnut wood')
  = lightbox('1055.jpeg', 'g18','308 Winchester American Classic Custom Rifle with turkish walnut and Schmidt & Bender Scope')
  = gallery('1124.jpeg 1128.jpeg 1075.jpeg 1109.jpeg 6463.jpeg','g18','308 Winchester Custom rifle with color cased skeleton buttplate with engraved screws and checkered, 308 Winchester- custom cross bolts- point pattern checkering, 308 Winchester custom checkered skeleton grip cap color cased, 308 Winchester custom rifle with turkish walnut showing cheek piece, 308 American Classic target with Federal 165 grain')
  = ptext('signature_rifle_text2')
  = br() +  ptext('signature_rifle_text3')
  = ttext('signature_rifle_text4')
  = ptext('signature_rifle_text5_html')
  = ttext('signature_rifle_text6')
  = ptext('signature_rifle_text7_html') + brn(8)
  = ttext('signature_rifle_text20')
  = ptext('signature_rifle_text21_html')
  = photo('7568.jpeg','308 Winchester  American Classic Winchester Custom Rifle Right Handed') + brn(3)
  = photo('7578.jpeg','308 Winchster American Classic Custom Rifle ') + brn(3)
  = gallery('7550.jpeg 7554.jpeg 7555.jpeg 7559.jpeg 7561.jpeg 7563.jpeg 7564.jpeg 7566.jpeg  7577.jpeg 7579.jpeg 7576.jpeg','g19','308 Winchester, 30 Winchester Cheek Piece, 308 Winchester Rifle, 308 Winchester Cheek Piece, Ebony Forend Tip, Skeleton Butt Plate, Engraved Deer Floorplate, 308 Buttstock, 308 Winchester Forend, Skeleton Grip Cap, 308 American Classic Target') + brn(8)
  = ttext('signature_rifle_text8') + br()
  = gallery('48.jpeg 260.jpeg','g20','Todd Ramirez Signature Rifle with express sights and Schmidt & Bender scope, 375 Custom rifle with express sights- barrel band- iron sights- leather wrapped pad and drop box magazine')
  = ptext('signature_rifle_text9')
  = ptext('signature_rifle_text10') + brn(3)
  = ptext('signature_rifle_text11')
  = ttext('signature_rifle_text12')
  = ptext('signature_rifle_text13_html')
  = ttext('signature_rifle_text14')
  = ptext('signature_rifle_text15_html') + brn(8)
  = ttext('signature_rifle_text16')
  = ptext('signature_rifle_text17')
  = gallery('405.jpeg 238.jpeg', 'g21','375 Signature custom rifle with exhibition grade french walnut stock, 375 Signature Rifle with Schmidt & Bender scope') + br()
  = lightbox('182.jpeg','g21','375 custom rifle with ebony crossbolts') + br()
  = ptext('signature_rifle_text19_html') + brn(10)
