- content_for :title,  t('guns_for_sale')
- content_for :header,  t('guns_for_sale')
- content_for :head do
  %meta{content: "custom rifles for sale, shotguns for sale, custom beretta shotgun for sale, , bolt action rifles for sale, synthetic rifles for sale", name: "Keywords"}/
  %meta{content: "Guns for sale, We have custom wood rifles, synthetic rifles, and shotguns for sale.  We also have consignment guns for sale.", name: "Description"}/
#content
  = ttext('guns_for_sale_text0')
  = link_to(ptext('guns_for_sale_text1'), "mailto:customgun.tr@gmail.com")
  = ptext('guns_for_sale_text2')
  = ttext('signature_rifle_text20')
  = ptext('signature_rifle_text21_html')
  = photo('7568.jpeg','308 Winchester  American Classic Winchester Custom Rifle Right Handed') + brn(3)
  = photo('7578.jpeg','308 Winchster American Classic Custom Rifle ') + brn(3)
  = gallery('7550.jpeg 7554.jpeg 7555.jpeg 7559.jpeg 7561.jpeg 7563.jpeg 7564.jpeg 7566.jpeg  7577.jpeg 7579.jpeg 7576.jpeg','g3','308 Winchester, 30 Winchester Cheek Piece, 308 Winchester Rifle, 308 Winchester Cheek Piece, Ebony Forend Tip, Skeleton Butt Plate, Engraved Deer Floorplate, 308 Buttstock, 308 Winchester Forend, Skeleton Grip Cap, 308 American Classic Target') + brn(8)
  = ttext('custom_rifles_text2')
  = ptext('custom_rifles_text3_html') + br()
  = photo('564.jpeg','30.06 right handed custom rifle with exhibition turkish walnut stock') + brn(2)
  = photo('611.jpeg','30.06 custom rifle with engraving') + brn(2)
  = gallery('255.jpeg 309.jpeg 603.jpeg 407.jpeg 496.jpeg 224.jpeg 195.jpeg 126.jpeg 139.jpeg 559.jpeg', 'g0','Engraved Express Front Hood Sight,custom cross bolts engraved,quarter rib with adjustable sights, engraved heal and toe, color cased and engraved shroud, egraved leopard on floor plate, custom rings engraved,engraved action, color cased and engraved custom skeleton grip cap, custom rifle screws by Todd Ramirez') + brn(8)
  = ttext('signature_rifle_text16')
  = ptext('signature_rifle_text17')
  = gallery('405.jpeg 238.jpeg', 'g1','375 Signature custom rifle with exhibition grade french walnut stock, 375 Signature Rifle with Schmidt & Bender scope')
  = lightbox('182.jpeg','g1','375 custom rifle with ebony crossbolts') + br()
  = gallery('','g2','375 Exhibition Grade French Walnut on Todd Ramirez custom rifle,375 custom rifle with ebony forend tip, 375 custom rifle with Schmidt & Bender scope,  375 custom rifle with Rings and scope, 375 custom rifle with ebony plugged cross bolts, 375 custom rifle with point pattern checkering,375 Custom Rifle, 375 cutom rifle with trap door grip cap and leather wrapped pad,375 custom wood rifle with Schmidt & Bender scope, 375 custom rifle with express sights with hood, 375 custom rifle with barrel band') + br()
  = ptext('signature_rifle_text19_html') + brn(3)
  = ttext('custom_rifles_text11') + br()
  = photo('668.jpeg','416 Rigby built on a Mauser action square bridged right side' ) + brn(2)
  = photo_text('850.jpeg','custom_rifles_text12') + brn(2)
  = gallery('863.jpeg 787.jpeg 708.jpeg 900.jpeg 871.jpeg 190.jpeg', 'g6','416 Rigby Custom Rifle with custom rings and sights, 416 Rigby custom rifle with custom bottom metal, 416 Rigby custom rifle with color case shroud and checkered bolt handle, 416 Rigby custom rifle with point pattern checkering and barrel band, 416 Rigby custom rifle, 416 Rigby custom rifle target - Federal Premium 400 grain trophy bonded bear claw') + brn(8)
  = lightbox('17.jpeg','gfs0','Tac Hunter Synthetic Rifle')
  = lightbox_text('204.jpeg','gfs0','guns_for_sale_text4_html', 'Synthetic Custom Tac Hunter Rifle') + brn(3)
  = lightbox('7.jpeg','gfs1','tags')
  = lightbox_text('18.jpeg','gfs1','guns_for_sale_text5_html', 'tags') + brn(3)
  = lightbox('986.jpeg','gfs2','tags')
  = lightbox_text('993.jpeg','gfs2','guns_for_sale_text6_html', 'tags')  + brn(3)
  = ptext('guns_for_sale_text7_html') + brn(10)
