- content_for :title,  t( 'home')
- content_for :header, t('home_header')
- content_for :head do
  %meta{content: "custom rifles, bolt action rifles, synthetic rifles, syn-fle, tac-hunter, classic rifles, signature rifles, gunsmith, premium guns, hunting rifles, restoration, big game rifles,  african rifles, hunting rifles, gunsmith, Beretta Specialist, Gun Fitting, Restoration", name: "Keywords"}/
  %meta{content: " Todd Ramirez,premium custom rifle builder, builds one of a kind rifles. His wood rifles include the Signature, Signature Classic, and Premium Rifles. His Synthetic rifles include the Tac-Hunter and the Syn-fle.  All rifles are handcrafted and done in shop by Todd Ramirez, truly one of a kind rifles.", name: "Description"}/
#content
  = ptext('home_text0_html')
  = ttext('home_text1') + brn(2)
  = brn(3) + photo_text_s('570.jpeg', 'home_text2', '7mm STW left handed custom rifle with Celtic engraving')
  = photo_text_s('954.jpeg', 'home_text3','416 Rigby Square Bridged Custom Rifle')
  = photo_text_s('749.jpeg', 'home_text4','Boddington 7 x 57 left hand custom rifle')
  = photo_text_s('539.jpeg', 'home_text5','Todd Ramirez rifle builder with Craig Boddington')
  = qtext('home_text6') + brn(3)
  %a.twitter-timeline{"data-dnt" => "true", "data-widget-id" => "706258425575964672", href: "https://twitter.com/Todd_Ramirez_CS"} Tweets by @Todd_Ramirez_CS
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  =brn(3)
  %a{href: "mailto:customgun.tr@gmail.com"}
    %img{alt: "Mail", onmouseout: "this.src='/assets/theme/default/email.png';", onmouseover: "this.src='/assets/theme/default/email_mouseover.png';", src: "/assets/theme/default/email.png", style: "border: 0px solid;\n            width: 128px;\n            height: 128px;"}/
  = brn(3)
