- content_for :title,  t('restoration')
- content_for :header,  t('restoration')
- content_for :head do
  %meta{content: "Todd Ramirez, custom rifles, stock making, restoration, checkering, engraving, parts making, regulating double rifles,  putting barrel back to face ,SO3, SO5, holland and holland, purdys, beretta, perazzi, aya", name: "Keywords"}/
  %meta{content: "Todd Ramirez, Premium Rifle Builder makes unique one of a kind rifles.  He also specializes in restoration of fine firearms, shotguns, rifles and doubles.  For all of your restoration needs check us out.", name: "Description"}/
#content
  = br() + ttext('restoration_text0')
  = br() + ptext('restoration_text1_html') + brn(2)
  / Win 21
  = photo_text('7820.jpeg', 'restoration_text21') + brn(5)
  = gallery_text('7725.jpeg 7731.jpeg 7738.jpeg 7740.jpeg 7741.jpeg 7742.jpeg 7750.jpeg 7748.jpeg 7752.jpeg 7756.jpeg 7791.jpeg 7761.jpeg 7767.jpeg 7794.jpeg 7798.jpeg 7776.jpeg 7782.jpeg 7768.jpeg 7810.jpeg 7796.jpeg 7807.jpeg 7800.jpeg 7812.jpeg 7771.jpeg 7758.jpeg 7806.jpeg 7789.jpeg 7808.jpeg 7802.jpeg 7827.jpeg', 'g8', 'restoration_text17', 'Winchester 21, Winchester 21 buttstock, Winchester 21 Restoration, Winchester 21 Turkish Walnut Stock, Turkish Walnut Stock, Leather Wrapped Pad on Turkish on Winchester 21, Winchester 21 Buttstock, Winchester 21, Winchester 21 Restoration Project, Winchester 21, Winchester 21 restocked by Todd Ramirez, Winchester 21 Beavertail Forearm, Winchester 21 Beavertail Checkered, Winchester 21 Restoration, Winchester 21, Winchester 21 Buttstock, Winchester 21 Shotgun, Winchester 21 Shotgun, Winchester 21, 20 gauge shotgun, Winchester 21 Restoration, Winchester 21 Initials Engraving, Winchester 21 Engraving, Winchester 21 Leather Wrapped Pad, Leather Wrapped Pad, WInchester 21 Shotgun, Winchester 21 Metal Work, Winchester 21 blued, Winchester 21 Turkish Walnut Stock, Winchester 21 Legacy Gun') +brn(5)
  = gallery_text('7708.jpeg 7716.jpeg 7720.jpeg 7747.jpeg 7777.jpeg 7825.jpeg 7744.jpeg', 'g10', 'restoration_text18', 'Winchester 21 Metal Work, Winchester 21 preparing metal for engraving, Winchester 21 Engraving, Winchester 21, Winchester 21, 20 gauge, Winchester 21, Winchester 21') +brn(5)
  = gallery_text('7709.jpeg 7736.jpeg 7737.jpeg 7762.jpeg 7778.jpeg 7817.jpeg', 'g9', 'restoration_text19', 'Winchester 21 metal and wood work, Winchester 21 Initials on Trigger Bow, Winchester 21 Beavertail Forend, Winchester 21 Shotgun, Winchester 21 Turkish Walnut Stock, Winchester 21 Engraved') +brn(5)
  = gallery_text('7711.jpeg 7714.jpeg 7715.jpeg 7819.jpeg', 'g11', 'restoration_text20','Broken Winchester 21 Stock, WInchester 21 Stock Before Picture to Restoration, Winchester 21 Stock Before Restoration, Winchester 21 Old Stock') +brn(5)

  / Restoration on Fox 20 ga. - Two Barrel
  = photo_text('652.jpeg', 'restoration_text2') + brn(5)
  = gallery_text('7706.jpeg 7501.jpeg 7508.jpeg 7515.jpeg 7502.jpeg 7509.jpeg 7516.jpeg 7503.jpeg 7510.jpeg 7517.jpeg 7504.jpeg 7511.jpeg 7518.jpeg 7505.jpeg 7512.jpeg 7519.jpeg 7506.jpeg 7513.jpeg 7520.jpeg 7507.jpeg 7514.jpeg 7521.jpeg', 'g6', 'restoration_text15', '1927 Anschultz Drilling, Restored Anschultz Drilling, Buttplate, 16 ga. anschultz drilling, 1927 8 x 57 anschultz drilling, restored barrels, 1927 anschultz drilling, restored drilling,16 ga. 8 x 57 drilling, anschultz drilling, shotgun, rifle barrel drilling, cartridge holder on anschultz drilling, 1927 anschultz drilling restored, 1927 anschultz drilling, scoped 1927 anschultz drilling, anschultz drilling, 8 x 57 drilling, 16 ga. drilling, anschultz drilling scoped, restored anschultz drilling, 1927 anschultz drilling 16 ga. 8 x 57 ') + brn(5)
  = gallery_text('7526.jpeg 7527.jpeg 7528.jpeg 7529.jpeg', 'g7','restoration_text16', 'Colt 1878 double barrel 12 ga. hammer gun, colt 1878 double barrel, 1878 colt couble barrel 12 ga. hammer gun restored' ) + brn(5)
  = gallery_text('273.jpeg 229.jpeg 304.jpeg 587.jpeg 231.jpeg', 'g0', 'restoration_text3', 'Jeffery\'s 475 double rifle, restored jeffery 475, jeffery 475 restored, jeffery 475 restored with checkering, restored 475 buttstock') + brn(5)
  = photo('908.jpeg', '20 ga. restocked with prince of wales') + brn(2)
  = photo_text('746.jpeg', 'restoration_text4', 'ASL 20 ga. restored') +brn(5)
  = photo_text('385.jpeg', 'restoration_text5', 'J.P. Sauer Drilling Restored') +brn(5)
  = photo_text('418.jpeg', 'restoration_text6', 'Restored Westley Richards') +brn(5)
  = gallery_text('64.jpeg 83.jpeg', 'g1', 'restoration_text7', 'Holland & Holland bring gun back to face, holland and holland restoration') + brn(5)
  = photo_text('140.jpeg', 'restoration_text8', 'restored S03') +brn(5)
  = gallery_text('134.jpeg 492.jpeg', 'g2', 'restoration_text9', 'Purdy restored, Purdy restored') + brn(5)
  = gallery_text('573.jpeg 469.jpeg', 'g3', 'restoration_text10', '451 restocked, 451 restored') + brn(5)
  = photo_text('948.jpeg', 'restoration_text11', 'restored pair of Beretta S3\'s') +brn(5)
  = lightbox_text('716.jpeg', 'g4', 'restoration_text12') + brn(5)
  = gallery_text('780.jpeg 884.jpeg 950.jpeg 870.jpeg 877.jpeg 648.jpeg 721.jpeg 792.jpeg 962.jpeg 841.jpeg 963.jpeg 681.jpeg 740.jpeg 709.jpeg 911.jpeg', 'g5', 'restoration_text13', '470 Rigby restoration, 470 righby barrels restored, 470 rigby barrel, 470 rigby restoration, 470 rigby stock restoration, 470 rigby action restored, 470 rigby restored, 470 rigby restocked, 470 forearm restocked, 470 rigby forearm restocked, 470 rigby metal restored, 470 rigby restored furniture, 470 rigby restocked oil finish, 470 rigby restoration, 470 rigby restoration, color cased, reblued, regulated, and action work')
  = ptext('restoration_text14') + brn(10)
