- content_for :title,  t('trophy_room')
- content_for :header,  t('trophy_room')
- content_for :head do
  %meta{content: "Todd Ramirez, Custom Rifles, Premium Rifle Maker, bolt action rifles, custom gunmaker, shotguns, custom work. Craig Boddington, Safari Club, Gunsmith, Synthetic Rifles, African Rifles, Deer Hunting Rifles, gun fitter, leather wrap pads.", name: "Keywords"}/
  %meta{content: "Todd Ramirez Premium Rifles.  Todd's customer's share their trophys that were shot with Todd Ramirez Premium Rifles.", name: "Description"}/
#content
  / Jones
  = itext('trophy_room_text13')
  = brn(6) + gallery('7546.jpeg 7547.jpeg 967.jpeg 977.jpeg 979.jpeg 976.jpeg 973.jpeg 978.jpeg', "g8")
  = itext('trophy_room_text10')

  / Corrigan
  = brn(3) + gallery('7739.jpeg 7757.jpeg 7772.jpeg 7779.jpeg', 'g11')
  = itext('trophy_room_text14')
  /Watling
  = brn(3) + gallery('965.jpeg 966.jpeg 968.jpeg 970.jpeg 971.jpeg 972.jpeg 974.jpeg 975.jpeg 980.jpeg 983.jpeg 984.jpeg', "g9")
  = itext('trophy_room_text11')
  = brn(3) + gallery('7541.jpeg 969.jpeg 7538.jpeg 7544.jpeg', "g7")
  = itext('trophy_room_text9')
  = brn(3) + gallery('7536.jpeg 7537.jpeg 7539.jpeg 7540.jpeg 7542.jpeg 7543.jpeg', "g10")
  = itext('trophy_room_text12')
  = brn(3) + gallery('929.jpeg 689.jpeg', "g1")
  = itext('trophy_room_text1')
  = brn(3) + gallery('215.jpeg 558.jpeg', "g2")
  = itext('trophy_room_text2')
  = brn(3) + lightbox_text('356.jpeg', "g3", 'trophy_room_text3')
  = brn(3) + lightbox_text('240.jpeg', "g4",'trophy_room_text4_html')
  = brn(3) + lightbox_text('607.jpeg', "g5",'trophy_room_text5_html')
  = itext('trophy_room_text6_html')
  = brn(3) + lightbox_text('597.jpeg', "g6",'trophy_room_text7')
  = xtext('boddington_trophy_text0') + brn(3)
  = ttext('boddington_trophy_text1') + brn(3)
  = lightbox_qtext('750.jpeg', 'b0', 'boddington_trophy_text2')
  = brn(3) + lightbox_qtext('823.jpeg', 'b1', 'boddington_trophy_text3')
  = brn(3) + gallery('635.jpeg 680.jpeg', 'b2')
  = qtext('boddington_trophy_text4')
  = brn(3) + lightbox_qtext('663.jpeg', 'b3', 'boddington_trophy_text5')
  = brn(3) + gallery('633.jpeg 822.jpeg 906.jpeg', 'b4')
  = qtext('boddington_trophy_text6')
  = brn(3) + gallery('781.jpeg 831.jpeg 659.jpeg', 'b5')
  = qtext('boddington_trophy_text7')
  = brn(3) + gallery('639.jpeg 685.jpeg 714.jpeg', 'b6')
  = qtext('boddington_trophy_text8')
  = brn(3) + lightbox_qtext('888.jpeg', 'b7', 'boddington_trophy_text9')
  = brn(3) + gallery('736.jpeg 631.jpeg', 'b8')
  = qtext('boddington_trophy_text10')
  = brn(3) + lightbox_qtext('891.jpeg', 'b9', 'boddington_trophy_text11')
  = brn(3) + lightbox_qtext('1999.jpeg', 'b10', 'boddington_trophy_text12')
  = brn(3) + lightbox_qtext('1920.jpeg', 'b11', 'boddington_trophy_text13')
  = brn(3) + lightbox_qtext('534.jpeg', 'b12', 'boddington_trophy_text14') + brn(10)
