<% content_for :title,  t('oil_finishes') %>
<% content_for :header,  t('oil_finishes') %>
<% content_for :head do %>
<meta name="Keywords" content="Todd Ramirez, Custom Rifles, Premium Rifles, Shotguns, dt10 barrel, gunsmith, gunwork, premium rifles, SO4, SO3, SO5, holland and holland, purdys, beretta, perazzi, aya, signature rifles, custom gunmaker, Oil Finish, High Gloss Oil Finish, Red Stain Finish, Satin Finish, Gunmaker Finish, Rotstone finish, Refinish Gun, Refinish Rifle, English Finish">
<meta name="Description" content="Todd Ramirez Premium Rifle Builder, Does Amazing Oil Finishes that are beautiful and durable and he uses these finishes on his custom rifle builds, custom shotgun stocks, and restoration projects.">
<% end %>
<div id="content">
<%= ttext('oil_finishes_text0')%>
<%= ptext('oil_finishes_text1_html') + brn(3)%>
<%= ttext('oil_finishes_text2')%>
<%= photo('660.jpeg','Satin Oil Finish on Beretta shotgun') + brn(3)%>
<%= ptext('oil_finishes_text3_html')+ brn(3)%>
<%= ttext('oil_finishes_text4')%>
<%= photo('471.jpeg','High Gloss Oil Finish on Beretta Shotgun buttstocks') + brn(2)%>
<%= photo('914.jpeg','High Gloss Oil Finish on Custom Rifle Bastogne Wood') + brn(3)%>
<%= ttext('oil_finishes_text5')%>
<%= photo('700.jpeg','Satin Oil Finish on Beretta S0') + brn(3)%>
<%= ptext('oil_finishes_text6_html') + brn(10)%>
</div>
