<% content_for :title,  t('oil_finishes') %>
<% content_for :header,  t('oil_finishes') %>
<div id="content">
<%= ttext('oil_finishes_text0')%>
<%= ptext('oil_finishes_text1_html') + brn(3)%>
<%= ttext('oil_finishes_text2')%>
<%= photo('660.jpeg') + brn(3)%>
<%= ptext('oil_finishes_text3_html')+ brn(3)%>
<%= ttext('oil_finishes_text4')%>
<%= photo('471.jpeg') + brn(2)%>
<%= photo('914.jpeg') + brn(3)%>
<%= ttext('oil_finishes_text5')%>
<%= photo('700.jpeg') + brn(3)%>
<%= ptext('oil_finishes_text6_html') + brn(10)%>
</div>
