<% content_for :title,  t('pens') %>
<% content_for :header,  t('pens') %>
<div id="content">
<%= br() + lightbox_text('216.jpeg','g0', 'pens_text0') + brn(3)%>
<%= lightbox_text('502.jpeg','g1', 'pens_text1') + brn(3)%>
<%= lightbox_text('384.jpeg','g2', 'pens_text2') + brn(3)%>
<%= lightbox_text('434.jpeg','g3', 'pens_text3') + brn(3)%>
<%= lightbox_text('72.jpeg','g4', 'pens_text4') + brn(3)%>
<%= lightbox_text('197.jpeg','g5', 'pens_text5') + brn(3)%>
<%= gallery('314.jpeg 87.jpeg','g6') + itext('pens_text6_html') + brn(10)%>
</div>
