<% content_for :title,  t('double_rifles') %>
<% content_for :header,  t('double_rifles') %>
<div id="content">
<%= brn(2) + xtext('double_rifles_text0_html') + brn(5)%>
<%= gallery('97.jpeg 110.jpeg 507.jpeg 192.jpeg 202.jpeg 44.jpeg 418.jpeg 435.jpeg 563.jpeg 615.jpeg 37.jpeg 452.jpeg 306.jpeg', 'g0') + brn(3)%>
<%= ttext('double_rifles_text1') + br()%>
<%= photo('587.jpeg')%>
<%= link_to(ptext('double_rifles_text2'), restoration_path) + brn(3)%>
<%= ttext('double_rifles_text1') + brn(2)%>
<%= photo('780.jpeg') + brn(2)%>
<%= photo('648.jpeg')%>
<%= link_to(ptext('double_rifles_text2'), restoration_path) + brn(10)%>
</div>
