<% content_for :title,  t('double_rifles') %>
<% content_for :header,  t('double_rifles') %>
<% content_for :head do %>
<meta name="Keywords" content="Todd Ramireiz, restoration, 500 Nitro, 470 Nitro, Rust Bluing, restocking, stock maker, rust bluing, nitre bluing,trigger work, chamber cast, head space, tighten action, recutting checkering, leather wrap pads, express sights, trap door grip cap, integral barrel, skeleton butt plate, Left Handed Rifles, Left Hand Action,  dt10 barrel, SO4, SO3, SO5, holland and holland, purdys, beretta, perazzi, aya">
<meta name="Description" content="Todd Ramirez specialized in Restoration, Repair, Regulating, Stock Work, Refinishing on Double Rifles.">
<% end %>
<div id="content">
  <%= xtext('double_rifles_text3')%>
  <%= brn(2) + xtext('double_rifles_text0_html') + brn(5)%>
  <%= gallery('97.jpeg 110.jpeg 507.jpeg 192.jpeg 202.jpeg 44.jpeg 418.jpeg 435.jpeg 563.jpeg 615.jpeg 37.jpeg 452.jpeg 306.jpeg', 'g0') + brn(3)%>
  <%= ttext('double_rifles_text1') + br()%>
  <%= photo('587.jpeg')%>
  <%= link_to(ptext('double_rifles_text2'), restoration_path) + brn(3)%>
  <%= ttext('double_rifles_text1') + brn(2)%>
  <%= photo('780.jpeg') + brn(2)%>
  <%= photo('648.jpeg')%>
  <%= link_to(ptext('double_rifles_text2'), restoration_path) + brn(10)%>
</div>
