<% content_for :title,  t('signature_rifle') %>
<% content_for :header,  t('signature_rifle') %>
<div id="content">
<%= br() + ttext('signature_rifle_text0')+ br()%>
<%= br() + ttext('signature_rifle_text1') + br()%>
<%= lightbox('1112.jpeg', 'g0') %>
<%= lightbox('1055.jpeg', 'g0') %>
<%= gallery('1124.jpeg 1128.jpeg 1075.jpeg 1109.jpeg 6463.jpeg','g0')%>
<%= ptext('signature_rifle_text2')%>
<%= br() +  ptext('signature_rifle_text3')%>
<%= ttext('signature_rifle_text4')%>
<%= ptext('signature_rifle_text5_html')%>
<%= ttext('signature_rifle_text6')%>
<%= ptext('signature_rifle_text7_html') + brn(8)%>
<%= ttext('signature_rifle_text8') + br()%>
<%= gallery('48.jpeg 260.jpeg','g1')%>
<%= ptext('signature_rifle_text9')%>
<%= ptext('signature_rifle_text10') + brn(3)%>
<%= ptext('signature_rifle_text11')%>
<%= ttext('signature_rifle_text12')%>
<%= ptext('signature_rifle_text13_html')%>
<%= ttext('signature_rifle_text14')%>
<%= ptext('signature_rifle_text15_html') + brn(8)%>
<%= ttext('signature_rifle_text16')%>
<%= ptext('signature_rifle_text17')%>
<%= gallery('405.jpeg 238.jpeg', 'g1')%>
<%= lightbox('182.jpeg','g1') + br()%>
<%= gallery('929.jpeg 848.jpeg','g1')%>
<%= ptext('signature_rifle_text18') + brn(3)%>
<%= gallery('866.jpeg 810.jpeg 751.jpeg 943.jpeg 895.jpeg 886.jpeg 802.jpeg 785.jpeg 880.jpeg 949.jpeg 790.jpeg','g2') + br()%>
<%= ptext('signature_rifle_text19_html') + brn(10)%>
</div>
