- content_for :title,  t('signature_rifle')
- content_for :header,  t('signature_rifle')
- content_for :head do
  %meta{content: "Todd Ramirez, beretta shotgun, purdy shotgun, westley richards, S04, S03, S05, S09, Beretta specialist, Beretta gunsmith, browning, ASE, zolie, perazzi, gun fitting, shotgun fitting, DT10 barrel,  rifle maker, custom maker, custom rifles, african rifles, deer hunter rifles, signature rifles, benchrest rifles, synthetic rifles, gunmaker, premium rifles, premium gunmaker, winchester model 70,  american classic,  rust bluing, nitre bluing, leather wrap pads, express sights, trap door grip cap, integral barrel, skeleton butt plate,Left Handed Rifles, Left Hand Action,  dt10 barrel, SO4, SO3, SO5, holland and holland, purdys, beretta, perazzi, aya", name: "Keywords"}/
  %meta{content: "Todd Ramirez  Premium Rifle Builder, builds unique one of a kind rifles. The signature rifle is built off of a Winchester action with American classic cheek piece or European cheek piece, whichever you choose.  He is also a master gunsmith who works on all fine firearms, we offer services or shotguns, restoration, gunfitting.  Please check out our website for everything we offer.", name: "Description"}/
#content
  = br() + ttext('signature_rifle_text0')+ br()
  = br() + ttext('signature_rifle_text1') + br()
  = lightbox('1112.jpeg', 'g0','308 Winchester American Classic Custom Rifle with turkish walnut wood')
  = lightbox('1055.jpeg', 'g0','308 Winchester American Classic Custom Rifle with turkish walnut and Schmidt & Bender Scope')
  = gallery('1124.jpeg 1128.jpeg 1075.jpeg 1109.jpeg 6463.jpeg','g0','308 Winchester Custom rifle with color cased skeleton buttplate with engraved screws and checkered, 308 Winchester- custom cross bolts- point pattern checkering, 308 Winchester custom checkered skeleton grip cap color cased, 308 Winchester custom rifle with turkish walnut showing cheek piece, 308 American Classic target with Federal 165 grain')
  = ptext('signature_rifle_text2')
  = br() +  ptext('signature_rifle_text3')
  = ttext('signature_rifle_text4')
  = ptext('signature_rifle_text5_html')
  = ttext('signature_rifle_text6')
  = ptext('signature_rifle_text7_html') + brn(8)
  = ttext('signature_rifle_text20')
  = ptext('signature_rifle_text21_html')
  = photo('7568.jpeg','308 Winchester  American Classic Winchester Custom Rifle Right Handed') + brn(3)
  = photo('7578.jpeg','308 Winchster American Classic Custom Rifle ') + brn(3)
  = gallery('7550.jpeg 7554.jpeg 7555.jpeg 7559.jpeg 7561.jpeg 7563.jpeg 7564.jpeg 7566.jpeg  7577.jpeg 7579.jpeg 7576.jpeg','g3','308 Winchester, 30 Winchester Cheek Piece, 308 Winchester Rifle, 308 Winchester Cheek Piece, Ebony Forend Tip, Skeleton Butt Plate, Engraved Deer Floorplate, 308 Buttstock, 308 Winchester Forend, Skeleton Grip Cap, 308 American Classic Target') + brn(8)
  = ttext('signature_rifle_text8') + br()
  = gallery('48.jpeg 260.jpeg','g1','Todd Ramirez Signature Rifle with express sights and Schmidt & Bender scope, 375 Custom rifle with express sights- barrel band- iron sights- leather wrapped pad and drop box magazine')
  = ptext('signature_rifle_text9')
  = ptext('signature_rifle_text10') + brn(3)
  = ptext('signature_rifle_text11')
  = ttext('signature_rifle_text12')
  = ptext('signature_rifle_text13_html')
  = ttext('signature_rifle_text14')
  = ptext('signature_rifle_text15_html') + brn(8)
  = ttext('signature_rifle_text16')
  = ptext('signature_rifle_text17')
  = gallery('405.jpeg 238.jpeg', 'g1','375 Signature custom rifle with exhibition grade french walnut stock, 375 Signature Rifle with Schmidt & Bender scope')
  = lightbox('182.jpeg','g1','375 custom rifle with ebony crossbolts') + br()
  = ptext('signature_rifle_text19_html') + brn(10)
