<% content_for :title,  t('gunsmithing') %>
<% content_for :header,  t('gunsmithing') %>
<% content_for :head do %>
<meta name="Keywords" content="Todd Ramirez, custom rifles, shotguns, finishes, dt10 barrel, SO4, SO3, SO5, holland and holland,  purdys, beretta, perazzi, aya,  Express Sights, Quarter Ribs, bluing, rust blue,  restoration, nitre bluing, color casing">
<meta name="Description" content="Todd Ramirez, Premium Bolt Action Rifle Builder, who specializes in one of a kind custom rifles.  We offer a wide variety of metal work, including square bridging, part making, claw mounts, etc. ">
<% end %>
<div id="content">
  <%= xtext('gunsmithing_text0_html') +  brn(3) %>

  <div class="centered">
    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text2')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text4')%></td> <td><%=t('gunsmithing_text5')%></td></tr>
      <tr><td><%=t('gunsmithing_text6')%></td> <td><%=t('gunsmithing_text7')%></td></tr>
      <tr><td><%=t('gunsmithing_text8')%></td> <td><%=t('gunsmithing_text9')%></td></tr>
      <tr><td><%=t('gunsmithing_text10')%></td> <td><%=t('gunsmithing_text11')%></td></tr>
      <tr><td><%=t('gunsmithing_text12')%></td> <td><%=t('gunsmithing_text13')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text14')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text15')%></td> <td><%=t('gunsmithing_text16')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text17')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text18')%></td> <td><%=t('gunsmithing_text19')%></td></tr>
      <tr><td><%=t('gunsmithing_text20')%></td> <td><%=t('gunsmithing_text21')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text22')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text23')%></td> <td><%=t('gunsmithing_text24')%></td></tr>
      <tr><td><%=t('gunsmithing_text25')%></td> <td><%=t('gunsmithing_text26')%></td></tr>
    </table>
    <%= brn(3) %>


    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text27')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text28')%></td> <td><%=t('gunsmithing_text29')%></td></tr>
      <tr><td><%=t('gunsmithing_text30')%></td> <td><%=t('gunsmithing_text31')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text32')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text33')%></td> <td><%=t('gunsmithing_text34')%></td></tr>
      <tr><td><%=t('gunsmithing_text35')%></td> <td><%=t('gunsmithing_text36')%></td></tr>
      <tr><td><%=t('gunsmithing_text37')%></td> <td><%=t('gunsmithing_text38')%></td></tr>
      <tr><td><%=t('gunsmithing_text39')%></td> <td><%=t('gunsmithing_text40')%></td></tr>
      <tr><td><%=t('gunsmithing_text41')%></td> <td><%=t('gunsmithing_text42')%></td></tr>
      <tr><td><%=t('gunsmithing_text43')%></td> <td><%=t('gunsmithing_text44')%></td></tr>
      <tr><td><%=t('gunsmithing_text45')%></td> <td><%=t('gunsmithing_text46')%></td></tr>
      <tr><td><%=t('gunsmithing_text47')%></td> <td><%=t('gunsmithing_text48')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text49')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text50')%></td> <td><%=t('gunsmithing_text51')%></td></tr>
      <tr><td><%=t('gunsmithing_text52')%></td> <td><%=t('gunsmithing_text53')%></td></tr>
      <tr><td><%=t('gunsmithing_text54')%></td> <td><%=t('gunsmithing_text55')%></td></tr>
      <tr><td><%=t('gunsmithing_text56')%></td> <td><%=t('gunsmithing_text57')%></td></tr>
      <tr><td><%=t('gunsmithing_text58')%></td> <td><%=t('gunsmithing_text59')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text60')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text61')%></td> <td><%=t('gunsmithing_text62')%></td></tr>
      <tr><td><%=t('gunsmithing_text63')%></td> <td><%=t('gunsmithing_text64')%></td></tr>
      <tr><td><%=t('gunsmithing_text65')%></td> <td><%=t('gunsmithing_text66')%></td></tr>
      <tr><td><%=t('gunsmithing_text67')%></td> <td><%=t('gunsmithing_text68')%></td></tr>
      <tr><td><%=t('gunsmithing_text69')%></td> <td><%=t('gunsmithing_text70')%></td></tr>
      <tr><td><%=t('gunsmithing_text71')%></td> <td><%=t('gunsmithing_text72')%></td></tr>
      <tr><td><%=t('gunsmithing_text73')%></td> <td><%=t('gunsmithing_text74')%></td></tr>
      <tr><td><%=t('gunsmithing_text75')%></td> <td><%=t('gunsmithing_text76')%></td></tr>
      <tr><td><%=t('gunsmithing_text77')%></td> <td><%=t('gunsmithing_text78')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text79')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text80')%></td> <td><%=t('gunsmithing_text81')%></td></tr>
      <tr><td><%=t('gunsmithing_text82')%></td> <td><%=t('gunsmithing_text83')%></td></tr>
      <tr><td><%=t('gunsmithing_text84')%></td> <td><%=t('gunsmithing_text85')%></td></tr>
      <tr><td><%=t('gunsmithing_text86')%></td> <td><%=t('gunsmithing_text87')%></td></tr>
      <tr><td><%=t('gunsmithing_text88')%></td> <td><%=t('gunsmithing_text89')%></td></tr>
      <tr><td><%=t('gunsmithing_text90')%></td> <td><%=t('gunsmithing_text91')%></td></tr>
      <tr><td><%=t('gunsmithing_text92')%></td> <td><%=t('gunsmithing_text93')%></td></tr>
      <tr><td><%=t('gunsmithing_text94')%></td> <td><%=t('gunsmithing_text95')%></td></tr>
      <tr><td><%=t('gunsmithing_text96')%></td> <td><%=t('gunsmithing_text97')%></td></tr>
      <tr><td><%=t('gunsmithing_text98')%></td> <td><%=t('gunsmithing_text99')%></td></tr>
      <tr><td><%=t('gunsmithing_text100')%></td> <td><%=t('gunsmithing_text101')%></td></tr>
      <tr><td><%=t('gunsmithing_text102')%></td> <td><%=t('gunsmithing_text103')%></td></tr>
      <tr><td><%=t('gunsmithing_text104')%></td> <td><%=t('gunsmithing_text105')%></td></tr>
      <tr><td><%=t('gunsmithing_text106')%></td> <td><%=t('gunsmithing_text107')%></td></tr>
      <tr><td><%=t('gunsmithing_text108')%></td> <td><%=t('gunsmithing_text109')%></td></tr>
      <tr><td><%=t('gunsmithing_text124')%></td> <td><%=t('gunsmithing_text125')%></td></tr>
      <tr><td><%=t('gunsmithing_text126')%></td> <td><%=t('gunsmithing_text127')%></td></tr>
      <tr><td><%=t('gunsmithing_text128')%></td> <td><%=t('gunsmithing_text129')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text110')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text111')%></td> <td><%=t('gunsmithing_text112')%></td></tr>
      <tr><td><%=t('gunsmithing_text113')%></td> <td><%=t('gunsmithing_text114')%></td></tr>
      <tr><td><%=t('gunsmithing_text115')%></td> <td><%=t('gunsmithing_text116')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text117')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text118')%></td> <td><%=t('gunsmithing_text119')%></td></tr>
      <tr><td><%=t('gunsmithing_text120')%></td> <td><%=t('gunsmithing_text121')%></td></tr>
      <tr><td><%=t('gunsmithing_text122')%></td> <td><%=t('gunsmithing_text123')%></td></tr>
    </table>
    <%= brn(3) %>


    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text130')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text131')%></td> <td><%=t('gunsmithing_text132')%></td></tr>
      <tr><td><%=t('gunsmithing_text133')%></td> <td><%=t('gunsmithing_text134')%></td></tr>
      <tr><td><%=t('gunsmithing_text135')%></td> <td><%=t('gunsmithing_text136')%></td></tr>
      <tr><td><%=t('gunsmithing_text137')%></td> <td><%=t('gunsmithing_text138')%></td></tr>
      <tr><td><%=t('gunsmithing_text139')%></td> <td><%=t('gunsmithing_text140')%></td></tr>
      <tr><td><%=t('gunsmithing_text141')%></td> <td><%=t('gunsmithing_text142')%></td></tr>
      <tr><td><%=t('gunsmithing_text143')%></td> <td><%=t('gunsmithing_text144')%></td></tr>
      <tr><td><%=t('gunsmithing_text145')%></td> <td><%=t('gunsmithing_text146')%></td></tr>
      <tr><td><%=t('gunsmithing_text147')%></td> <td><%=t('gunsmithing_text148')%></td></tr>
      <tr><td><%=t('gunsmithing_text149')%></td> <td><%=t('gunsmithing_text150')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text151')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text152')%></td> <td><%=t('gunsmithing_text153')%></td></tr>
      <tr><td><%=t('gunsmithing_text154')%></td> <td><%=t('gunsmithing_text155')%></td></tr>
      <tr><td><%=t('gunsmithing_text156')%></td> <td><%=t('gunsmithing_text157')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text158')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text159')%></td> <td><%=t('gunsmithing_text160')%></td></tr>
      <tr><td><%=t('gunsmithing_text161')%></td> <td><%=t('gunsmithing_text162')%></td></tr>
    </table>
    <%= brn(3) %>


    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text163')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text164')%></td> <td><%=t('gunsmithing_text165')%></td></tr>
      <tr><td><%=t('gunsmithing_text166')%></td> <td><%=t('gunsmithing_text167')%></td></tr>
      <tr><td><%=t('gunsmithing_text168')%></td> <td><%=t('gunsmithing_text169')%></td></tr>
      <tr><td><%=t('gunsmithing_text170')%></td> <td><%=t('gunsmithing_text171')%></td></tr>
      <tr><td><%=t('gunsmithing_text172')%></td> <td><%=t('gunsmithing_text173')%></td></tr>
      <tr><td><%=t('gunsmithing_text174')%></td> <td><%=t('gunsmithing_text175')%></td></tr>
      <tr><td><%=t('gunsmithing_text176')%></td> <td><%=t('gunsmithing_text177')%></td></tr>
      <tr><td><%=t('gunsmithing_text178')%></td> <td><%=t('gunsmithing_text179')%></td></tr>
      <tr><td><%=t('gunsmithing_text180')%></td> <td><%=t('gunsmithing_text181')%></td></tr>
      <tr><td><%=t('gunsmithing_text182')%></td> <td><%=t('gunsmithing_text183')%></td></tr>
      <tr><td><%=t('gunsmithing_text184')%></td> <td><%=t('gunsmithing_text185')%></td></tr>
      <tr><td><%=t('gunsmithing_text186')%></td> <td><%=t('gunsmithing_text187')%></td></tr>
      <tr><td><%=t('gunsmithing_text188')%></td> <td><%=t('gunsmithing_text189')%></td></tr>
      <tr><td><%=t('gunsmithing_text190')%></td> <td><%=t('gunsmithing_text191')%></td></tr>
      <tr><td><%=t('gunsmithing_text192')%></td> <td><%=t('gunsmithing_text193')%></td></tr>
      <tr><td><%=t('gunsmithing_text194')%></td> <td><%=t('gunsmithing_text195')%></td></tr>
      <tr><td><%=t('gunsmithing_text196')%></td> <td><%=t('gunsmithing_text197')%></td></tr>
      <tr><td><%=t('gunsmithing_text198')%></td> <td><%=t('gunsmithing_text199')%></td></tr>
      <tr><td><%=t('gunsmithing_text200')%></td> <td><%=t('gunsmithing_text201')%></td></tr>
      <tr><td><%=t('gunsmithing_text202')%></td> <td><%=t('gunsmithing_text203')%></td></tr>
      <tr><td><%=t('gunsmithing_text204')%></td> <td><%=t('gunsmithing_text205')%></td></tr>
      <tr><td><%=t('gunsmithing_text206')%></td> <td><%=t('gunsmithing_text207')%></td></tr>
      <tr><td><%=t('gunsmithing_text208')%></td> <td><%=t('gunsmithing_text209')%></td></tr>
      <tr><td><%=t('gunsmithing_text210')%></td> <td><%=t('gunsmithing_text211')%></td></tr>
      <tr><td><%=t('gunsmithing_text212')%></td> <td><%=t('gunsmithing_text213')%></td></tr>
      <tr><td><%=t('gunsmithing_text214')%></td> <td><%=t('gunsmithing_text215')%></td></tr>
      <tr><td><%=t('gunsmithing_text216')%></td> <td><%=t('gunsmithing_text217')%></td></tr>
      <tr><td><%=t('gunsmithing_text218')%></td> <td><%=t('gunsmithing_text219')%></td></tr>
      <tr><td><%=t('gunsmithing_text220')%></td> <td><%=t('gunsmithing_text221')%></td></tr>
      </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text222')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text223')%></td> <td><%=t('gunsmithing_text224')%></td></tr>
      <tr><td><%=t('gunsmithing_text225')%></td> <td><%=t('gunsmithing_text226')%></td></tr>
      <tr><td><%=t('gunsmithing_text227')%></td> <td><%=t('gunsmithing_text228')%></td></tr>
      <tr><td><%=t('gunsmithing_text229')%></td> <td><%=t('gunsmithing_text230')%></td></tr>
      <tr><td><%=t('gunsmithing_text231')%></td> <td><%=t('gunsmithing_text232')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text233')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text234')%></td> <td><%=t('gunsmithing_text235')%></td></tr>
      <tr><td><%=t('gunsmithing_text236')%></td> <td><%=t('gunsmithing_text237')%></td></tr>
    </table>
    <%= brn(3) %>

    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text238')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text239')%></td> <td><%=t('gunsmithing_text240')%></td></tr>
      <tr><td><%=t('gunsmithing_text241')%></td> <td><%=t('gunsmithing_text242')%></td></tr>
      <tr><td><%=t('gunsmithing_text243')%></td> <td><%=t('gunsmithing_text244')%></td></tr>
      <tr><td><%=t('gunsmithing_text245')%></td> <td><%=t('gunsmithing_text246')%></td></tr>
      <tr><td><%=t('gunsmithing_text247')%></td> <td><%=t('gunsmithing_text248')%></td></tr>
      <tr><td><%=t('gunsmithing_text249')%></td> <td><%=t('gunsmithing_text250')%></td></tr>
      <tr><td><%=t('gunsmithing_text251')%></td> <td><%=t('gunsmithing_text252')%></td></tr>
      <tr><td><%=t('gunsmithing_text253')%></td> <td><%=t('gunsmithing_text254')%></td></tr>
      <tr><td><%=t('gunsmithing_text255')%></td> <td><%=t('gunsmithing_text256')%></td></tr>
      <tr><td><%=t('gunsmithing_text257')%></td> <td><%=t('gunsmithing_text258')%></td></tr>
      <tr><td><%=t('gunsmithing_text259')%></td> <td><%=t('gunsmithing_text260')%></td></tr>
    </table>
    <%= brn(3) %>



    <table class="pricetab">
      <tr><th><%=t('gunsmithing_text261')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
      <tr><td><%=t('gunsmithing_text262')%></td> <td><%=t('gunsmithing_text263')%></td></tr>
      <tr><td><%=t('gunsmithing_text264')%></td> <td><%=t('gunsmithing_text265')%></td></tr>
      <tr><td><%=t('gunsmithing_text266')%></td> <td><%=t('gunsmithing_text267')%></td></tr>
      <tr><td><%=t('gunsmithing_text268')%></td> <td><%=t('gunsmithing_text269')%></td></tr>
      <tr><td><%=t('gunsmithing_text270')%></td> <td><%=t('gunsmithing_text271')%></td></tr>
      <tr><td><%=t('gunsmithing_text272')%></td> <td><%=t('gunsmithing_text273')%></td></tr>
      <tr><td><%=t('gunsmithing_text274')%></td> <td><%=t('gunsmithing_text275')%></td></tr>
      <tr><td><%=t('gunsmithing_text276')%></td> <td><%=t('gunsmithing_text277')%></td></tr>
    </table>
    <%= brn(3) %>


      <table class="pricetab">
        <tr><th><%=t('gunsmithing_text278')%></th> <th><%=t('gunsmithing_text3')%></th></tr>
        <tr><td><%=t('gunsmithing_text279')%></td> <td><%=t('gunsmithing_text280')%></td></tr>
        <tr><td><%=t('gunsmithing_text281')%></td> <td><%=t('gunsmithing_text282')%></td></tr>
        <tr><td><%=t('gunsmithing_text283')%></td> <td><%=t('gunsmithing_text284')%></td></tr>
        <tr><td><%=t('gunsmithing_text285')%></td> <td><%=t('gunsmithing_text286')%></td></tr>
        <tr><td><%=t('gunsmithing_text287')%></td> <td><%=t('gunsmithing_text288')%></td></tr>
        <tr><td><%=t('gunsmithing_text289')%></td> <td><%=t('gunsmithing_text290')%></td></tr>
        <tr><td><%=t('gunsmithing_text291')%></td> <td><%=t('gunsmithing_text292')%></td></tr>
        <tr><td><%=t('gunsmithing_text293')%></td> <td><%=t('gunsmithing_text294')%></td></tr>
        <tr><td><%=t('gunsmithing_text295')%></td> <td><%=t('gunsmithing_text296')%></td></tr>
        <tr><td><%=t('gunsmithing_text297')%></td> <td><%=t('gunsmithing_text298')%></td></tr>
        <tr><td><%=t('gunsmithing_text299')%></td> <td><%=t('gunsmithing_text300')%></td></tr>
      </table>
      <%= brn(3) %>

  </div>
  <%= brn(3) + ttext('gunsmithing_text1') + brn(3)%>
  <%= gallery('131.jpeg 257.jpeg 223.jpeg 489.jpeg 291.jpeg 282.jpeg 896.jpeg', 'g0') + brn(3)%>
  <%= photo('768.jpeg') + brn(3)%>
  <%= xtext('gunsmithing_textx_html') +  brn(15) %>

</div>
</div>
