- content_for :title,  t('gunsmithing')
- content_for :header,  t('gunsmithing')
- content_for :head do
  %meta{content: "Todd Ramirez, custom rifles, shotguns, finishes, dt10 barrel, SO4, SO3, SO5, holland and holland,  purdys, beretta, perazzi, aya,  Express Sights, Quarter Ribs, bluing, rust blue,  restoration, nitre bluing, color casing", name: "Keywords"}/
  %meta{content: "Todd Ramirez, Premium Bolt Action Rifle Builder, who specializes in one of a kind custom rifles.  We offer a wide variety of metal work, including square bridging, part making, claw mounts, etc. ", name: "Description"}/
#content
  = xtext('gunsmithing_text0_html') +  brn(3)
  .centered
    %table.pricetab
      %tr
        %th= t('gunsmithing_text2')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text4')
        %td= t('gunsmithing_text5')
      %tr
        %td= t('gunsmithing_text6')
        %td= t('gunsmithing_text7')
      %tr
        %td= t('gunsmithing_text8')
        %td= t('gunsmithing_text9')
      %tr
        %td= t('gunsmithing_text10')
        %td= t('gunsmithing_text11')
      %tr
        %td= t('gunsmithing_text12')
        %td= t('gunsmithing_text13')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text14')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text15')
        %td= t('gunsmithing_text16')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text17')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text18')
        %td= t('gunsmithing_text19')
      %tr
        %td= t('gunsmithing_text20')
        %td= t('gunsmithing_text21')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text22')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text23')
        %td= t('gunsmithing_text24')
      %tr
        %td= t('gunsmithing_text25')
        %td= t('gunsmithing_text26')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text27')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text28')
        %td= t('gunsmithing_text29')
      %tr
        %td= t('gunsmithing_text30')
        %td= t('gunsmithing_text31')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text32')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text33')
        %td= t('gunsmithing_text34')
      %tr
        %td= t('gunsmithing_text35')
        %td= t('gunsmithing_text36')
      %tr
        %td= t('gunsmithing_text37')
        %td= t('gunsmithing_text38')
      %tr
        %td= t('gunsmithing_text39')
        %td= t('gunsmithing_text40')
      %tr
        %td= t('gunsmithing_text41')
        %td= t('gunsmithing_text42')
      %tr
        %td= t('gunsmithing_text43')
        %td= t('gunsmithing_text44')
      %tr
        %td= t('gunsmithing_text45')
        %td= t('gunsmithing_text46')
      %tr
        %td= t('gunsmithing_text47')
        %td= t('gunsmithing_text48')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text49')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text50')
        %td= t('gunsmithing_text51')
      %tr
        %td= t('gunsmithing_text52')
        %td= t('gunsmithing_text53')
      %tr
        %td= t('gunsmithing_text54')
        %td= t('gunsmithing_text55')
      %tr
        %td= t('gunsmithing_text56')
        %td= t('gunsmithing_text57')
      %tr
        %td= t('gunsmithing_text58')
        %td= t('gunsmithing_text59')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text60')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text61')
        %td= t('gunsmithing_text62')
      %tr
        %td= t('gunsmithing_text63')
        %td= t('gunsmithing_text64')
      %tr
        %td= t('gunsmithing_text65')
        %td= t('gunsmithing_text66')
      %tr
        %td= t('gunsmithing_text67')
        %td= t('gunsmithing_text68')
      %tr
        %td= t('gunsmithing_text69')
        %td= t('gunsmithing_text70')
      %tr
        %td= t('gunsmithing_text71')
        %td= t('gunsmithing_text72')
      %tr
        %td= t('gunsmithing_text73')
        %td= t('gunsmithing_text74')
      %tr
        %td= t('gunsmithing_text75')
        %td= t('gunsmithing_text76')
      %tr
        %td= t('gunsmithing_text77')
        %td= t('gunsmithing_text78')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text79')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text80')
        %td= t('gunsmithing_text81')
      %tr
        %td= t('gunsmithing_text82')
        %td= t('gunsmithing_text83')
      %tr
        %td= t('gunsmithing_text84')
        %td= t('gunsmithing_text85')
      %tr
        %td= t('gunsmithing_text86')
        %td= t('gunsmithing_text87')
      %tr
        %td= t('gunsmithing_text88')
        %td= t('gunsmithing_text89')
      %tr
        %td= t('gunsmithing_text90')
        %td= t('gunsmithing_text91')
      %tr
        %td= t('gunsmithing_text92')
        %td= t('gunsmithing_text93')
      %tr
        %td= t('gunsmithing_text94')
        %td= t('gunsmithing_text95')
      %tr
        %td= t('gunsmithing_text96')
        %td= t('gunsmithing_text97')
      %tr
        %td= t('gunsmithing_text98')
        %td= t('gunsmithing_text99')
      %tr
        %td= t('gunsmithing_text100')
        %td= t('gunsmithing_text101')
      %tr
        %td= t('gunsmithing_text102')
        %td= t('gunsmithing_text103')
      %tr
        %td= t('gunsmithing_text104')
        %td= t('gunsmithing_text105')
      %tr
        %td= t('gunsmithing_text106')
        %td= t('gunsmithing_text107')
      %tr
        %td= t('gunsmithing_text108')
        %td= t('gunsmithing_text109')
      %tr
        %td= t('gunsmithing_text124')
        %td= t('gunsmithing_text125')
      %tr
        %td= t('gunsmithing_text126')
        %td= t('gunsmithing_text127')
      %tr
        %td= t('gunsmithing_text128')
        %td= t('gunsmithing_text129')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text110')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text111')
        %td= t('gunsmithing_text112')
      %tr
        %td= t('gunsmithing_text113')
        %td= t('gunsmithing_text114')
      %tr
        %td= t('gunsmithing_text115')
        %td= t('gunsmithing_text116')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text117')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text118')
        %td= t('gunsmithing_text119')
      %tr
        %td= t('gunsmithing_text120')
        %td= t('gunsmithing_text121')
      %tr
        %td= t('gunsmithing_text122')
        %td= t('gunsmithing_text123')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text130')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text131')
        %td= t('gunsmithing_text132')
      %tr
        %td= t('gunsmithing_text133')
        %td= t('gunsmithing_text134')
      %tr
        %td= t('gunsmithing_text135')
        %td= t('gunsmithing_text136')
      %tr
        %td= t('gunsmithing_text137')
        %td= t('gunsmithing_text138')
      %tr
        %td= t('gunsmithing_text139')
        %td= t('gunsmithing_text140')
      %tr
        %td= t('gunsmithing_text141')
        %td= t('gunsmithing_text142')
      %tr
        %td= t('gunsmithing_text143')
        %td= t('gunsmithing_text144')
      %tr
        %td= t('gunsmithing_text145')
        %td= t('gunsmithing_text146')
      %tr
        %td= t('gunsmithing_text147')
        %td= t('gunsmithing_text148')
      %tr
        %td= t('gunsmithing_text149')
        %td= t('gunsmithing_text150')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text151')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text152')
        %td= t('gunsmithing_text153')
      %tr
        %td= t('gunsmithing_text154')
        %td= t('gunsmithing_text155')
      %tr
        %td= t('gunsmithing_text156')
        %td= t('gunsmithing_text157')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text158')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text159')
        %td= t('gunsmithing_text160')
      %tr
        %td= t('gunsmithing_text161')
        %td= t('gunsmithing_text162')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text163')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text164')
        %td= t('gunsmithing_text165')
      %tr
        %td= t('gunsmithing_text166')
        %td= t('gunsmithing_text167')
      %tr
        %td= t('gunsmithing_text168')
        %td= t('gunsmithing_text169')
      %tr
        %td= t('gunsmithing_text170')
        %td= t('gunsmithing_text171')
      %tr
        %td= t('gunsmithing_text172')
        %td= t('gunsmithing_text173')
      %tr
        %td= t('gunsmithing_text174')
        %td= t('gunsmithing_text175')
      %tr
        %td= t('gunsmithing_text176')
        %td= t('gunsmithing_text177')
      %tr
        %td= t('gunsmithing_text178')
        %td= t('gunsmithing_text179')
      %tr
        %td= t('gunsmithing_text180')
        %td= t('gunsmithing_text181')
      %tr
        %td= t('gunsmithing_text182')
        %td= t('gunsmithing_text183')
      %tr
        %td= t('gunsmithing_text184')
        %td= t('gunsmithing_text185')
      %tr
        %td= t('gunsmithing_text186')
        %td= t('gunsmithing_text187')
      %tr
        %td= t('gunsmithing_text188')
        %td= t('gunsmithing_text189')
      %tr
        %td= t('gunsmithing_text190')
        %td= t('gunsmithing_text191')
      %tr
        %td= t('gunsmithing_text192')
        %td= t('gunsmithing_text193')
      %tr
        %td= t('gunsmithing_text194')
        %td= t('gunsmithing_text195')
      %tr
        %td= t('gunsmithing_text196')
        %td= t('gunsmithing_text197')
      %tr
        %td= t('gunsmithing_text198')
        %td= t('gunsmithing_text199')
      %tr
        %td= t('gunsmithing_text200')
        %td= t('gunsmithing_text201')
      %tr
        %td= t('gunsmithing_text202')
        %td= t('gunsmithing_text203')
      %tr
        %td= t('gunsmithing_text204')
        %td= t('gunsmithing_text205')
      %tr
        %td= t('gunsmithing_text206')
        %td= t('gunsmithing_text207')
      %tr
        %td= t('gunsmithing_text208')
        %td= t('gunsmithing_text209')
      %tr
        %td= t('gunsmithing_text210')
        %td= t('gunsmithing_text211')
      %tr
        %td= t('gunsmithing_text212')
        %td= t('gunsmithing_text213')
      %tr
        %td= t('gunsmithing_text214')
        %td= t('gunsmithing_text215')
      %tr
        %td= t('gunsmithing_text216')
        %td= t('gunsmithing_text217')
      %tr
        %td= t('gunsmithing_text218')
        %td= t('gunsmithing_text219')
      %tr
        %td= t('gunsmithing_text220')
        %td= t('gunsmithing_text221')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text222')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text223')
        %td= t('gunsmithing_text224')
      %tr
        %td= t('gunsmithing_text225')
        %td= t('gunsmithing_text226')
      %tr
        %td= t('gunsmithing_text227')
        %td= t('gunsmithing_text228')
      %tr
        %td= t('gunsmithing_text229')
        %td= t('gunsmithing_text230')
      %tr
        %td= t('gunsmithing_text231')
        %td= t('gunsmithing_text232')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text233')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text234')
        %td= t('gunsmithing_text235')
      %tr
        %td= t('gunsmithing_text236')
        %td= t('gunsmithing_text237')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text238')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text239')
        %td= t('gunsmithing_text240')
      %tr
        %td= t('gunsmithing_text241')
        %td= t('gunsmithing_text242')
      %tr
        %td= t('gunsmithing_text243')
        %td= t('gunsmithing_text244')
      %tr
        %td= t('gunsmithing_text245')
        %td= t('gunsmithing_text246')
      %tr
        %td= t('gunsmithing_text247')
        %td= t('gunsmithing_text248')
      %tr
        %td= t('gunsmithing_text249')
        %td= t('gunsmithing_text250')
      %tr
        %td= t('gunsmithing_text251')
        %td= t('gunsmithing_text252')
      %tr
        %td= t('gunsmithing_text253')
        %td= t('gunsmithing_text254')
      %tr
        %td= t('gunsmithing_text255')
        %td= t('gunsmithing_text256')
      %tr
        %td= t('gunsmithing_text257')
        %td= t('gunsmithing_text258')
      %tr
        %td= t('gunsmithing_text259')
        %td= t('gunsmithing_text260')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text261')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text262')
        %td= t('gunsmithing_text263')
      %tr
        %td= t('gunsmithing_text264')
        %td= t('gunsmithing_text265')
      %tr
        %td= t('gunsmithing_text266')
        %td= t('gunsmithing_text267')
      %tr
        %td= t('gunsmithing_text268')
        %td= t('gunsmithing_text269')
      %tr
        %td= t('gunsmithing_text270')
        %td= t('gunsmithing_text271')
      %tr
        %td= t('gunsmithing_text272')
        %td= t('gunsmithing_text273')
      %tr
        %td= t('gunsmithing_text274')
        %td= t('gunsmithing_text275')
      %tr
        %td= t('gunsmithing_text276')
        %td= t('gunsmithing_text277')
    = brn(3)
    %table.pricetab
      %tr
        %th= t('gunsmithing_text278')
        %th= t('gunsmithing_text3')
      %tr
        %td= t('gunsmithing_text279')
        %td= t('gunsmithing_text280')
      %tr
        %td= t('gunsmithing_text281')
        %td= t('gunsmithing_text282')
      %tr
        %td= t('gunsmithing_text283')
        %td= t('gunsmithing_text284')
      %tr
        %td= t('gunsmithing_text285')
        %td= t('gunsmithing_text286')
      %tr
        %td= t('gunsmithing_text287')
        %td= t('gunsmithing_text288')
      %tr
        %td= t('gunsmithing_text289')
        %td= t('gunsmithing_text290')
      %tr
        %td= t('gunsmithing_text291')
        %td= t('gunsmithing_text292')
      %tr
        %td= t('gunsmithing_text293')
        %td= t('gunsmithing_text294')
      %tr
        %td= t('gunsmithing_text295')
        %td= t('gunsmithing_text296')
      %tr
        %td= t('gunsmithing_text297')
        %td= t('gunsmithing_text298')
      %tr
        %td= t('gunsmithing_text299')
        %td= t('gunsmithing_text300')
    = brn(3)
  = brn(3) + ttext('gunsmithing_text1') + brn(3)
  = gallery('131.jpeg 257.jpeg 223.jpeg 489.jpeg 291.jpeg 282.jpeg 896.jpeg', 'g0') + brn(3)
  = photo('768.jpeg') + brn(3)
  = xtext('gunsmithing_textx_html') +  brn(5)
  = xtext('double_rifles_text3')
  = brn(2) + xtext('double_rifles_text0_html') + brn(5)
  = gallery('97.jpeg 110.jpeg 507.jpeg 192.jpeg 202.jpeg 44.jpeg 418.jpeg 435.jpeg 563.jpeg 615.jpeg 37.jpeg 452.jpeg 306.jpeg', 'g0') + brn(3)
  = ttext('double_rifles_text1') + br()
  = photo('587.jpeg')
  = link_to(ptext('double_rifles_text2'), restoration_path) + brn(3)
  = ttext('double_rifles_text1') + brn(2)
  = photo('780.jpeg') + brn(2)
  = photo('648.jpeg')
  = link_to(ptext('double_rifles_text2'), restoration_path) + brn(10)

