<% content_for :title,  t('stock_work') %>
<% content_for :header,  t('stock_work') %>
<% content_for :head do %>
<meta name="Keywords" content="Todd Ramirez, custom rifles, african rifles, premium rifles, hunting rifles, custom stocks, rifles, shotguns, dt10 barrel, SO4, SO3, SO5,gunsmith, gunwork,shotguns,westley richards, box lock, sidelock, straight stock, prince of wales, gun fitting, schnabel, splinter forearm, double rifle, bolt rifle, side by side, over and under,single action,  holland and holland, purdys, beretta, perazzi, aya, box lock stock, side lock stock, forend, beavertail forend, splinter forend, prince of wales grip, heal and toe, initials, ovals, checkering,  bolt rifles, lever actions">
<meta name="Description" content="Todd Ramirez, Stock maker builds custom rifles as well as restocks and restores shotguns.  Todd has over 30 years experience in rifles and fine shotguns.">
<% end %>
<div id="content">
<%= br() + ttext('stock_work_text0') + br()%>
<%= photo('646.jpeg','Hand checkered buttstock with point pattern checkering') + br()%>
<%= gallery('944.jpeg 660.jpeg 650.jpeg', 'g0','Beretta ASE 20 ga shotgun restocked, Beretta ASE 20 ga. shotgun restocked with a satin oil finish, Beretta ASE 20 ga. restocked and finished in satin oil finish') + brn(5)%>
<%= ttext('stock_work_text1') + br()%>
<%= lightbox('1118.jpeg', 'g1','Ruger #1 restocked and finished with a satin oil finish')%>
<%= lightbox('1125.jpeg', 'g1','Ruger #1 restocked and finished with a satin oil finish') + brn(5)%>
<%= ttext('stock_work_text23') + br()%>
<%= gallery('7530.jpeg 7531.jpeg 7532.jpeg 7533.jpeg 7534.jpeg 7535.jpeg', 'g5','Ruger #1 stock job - restocked with skeleton grip cap, ruger #1 restocked with turkish walnut, ruger #1 barrel band, ruger #1 restocked, ruger #1 restocked top view, ruger #1 restocked bottom view with skeleton grip cap') + brn(5)%>
<%= ttext('stock_work_text22') + br()%>
<%= gallery('7522.jpeg 7523.jpeg 7524.jpeg 7525.jpeg 7545.jpeg', 'g6','Browning Citori 16 ga. new gun made to look old, Browning Citori 16 ga. color cased, 16 ga. Browning Citori redone, Browning 16 ga. Citori with oil finish, Browning Citori 16 ga. color cased, turkish walnut wood made to look old') + brn(5)%>
<%= ttext('stock_work_text24')%>
<%= ttext('stock_work_text2')%>
<%= ttext('stock_work_text3')%>
<%= ptext('stock_work_text4_html')%>
<%= ttext('stock_work_text5')%>
<%= ptext('stock_work_text6')%>
<%= ttext('stock_work_text7')%>
<%= ptext('stock_work_text8_html')%>
<%= ttext('stock_work_text9')%>
<%= ptext('stock_work_text10_html')%>
<%= ttext('stock_work_text11')%>
<%= ptext('stock_work_text12_html') + brn(5)%>
<%= gallery('874.jpeg 102.jpeg 355.jpeg', 'g2','Beretta S0 with examples of shotgun blanks, Beretta shotgun with prince of wales grip, Refinished Beretta S06') + brn(5)%>
<%= ttext('stock_work_text13')%>
<%= ptext('stock_work_text14')%>
<%= ttext('stock_work_text15')%>
<%= ptext('stock_work_text16_html')%>
<%= ttext('stock_work_text17')%>
<%= ptext('stock_work_text18_html') + brn(3)%>
<%= photo('101.jpeg',' English Walnut Shotgun Blanks') + brn(2)%>
<%= photo('497.jpeg','French Walnut Shotgun Blanks') + brn(2)%>
<%= photo('81.jpeg','Bastogne Shotgun Blanks') + brn(5)%>
<%= ttext('stock_work_text19') + br()%>
<%= gallery('215.jpeg 558.jpeg', 'g3','John Rigby 470 restocked took this elephant in Africa, Rigby 470 restocked')%>
<%= br() + link_to(ptext('stock_work_text20'), restoration_path) + brn(5)%>
<%= ptext('stock_work_text21') + br()%>
<%= gallery('743.jpeg 752.jpeg 653.jpeg 899.jpeg 767.jpeg 856.jpeg 723.jpeg 673.jpeg 928.jpeg 898.jpeg', 'g4',' Winchester Pre-64 Custom Rifle restocked, Winchester pre-64 French walnut wood, Winchester pre-64 bottom metal, Winchester pre-64 cheek piece, Winchester pre-64 point pattern checkering and custom bolt, Winchester Pre-64 cheek piece in French walnut, Winchester Pre-64 custom rifle, Winchester pre-64 bottom floor plate, Winchester pre-64 skeleton grip cap inlayed with horn, Winchester pre-64 heal and toe inlayed with horn') + brn(10)%>
</div>
