<% content_for :title,  t('stock_work') %>
<% content_for :header,  t('stock_work') %>
<div id="content">
<%= br() + ttext('stock_work_text0') + br()%>
<%= photo('646.jpeg') + br()%>
<%= gallery('944.jpeg 660.jpeg 650.jpeg', 'g0') + brn(5)%>
<%= ttext('stock_work_text1') + br()%>
<%= lightbox('1118.jpeg', 'g1')%>
<%= lightbox('1125.jpeg', 'g1') + brn(5)%>



<%= ttext('stock_work_text2')%>

<%= ttext('stock_work_text3')%>
<%= ptext('stock_work_text4_html')%>
<%= ttext('stock_work_text5')%>
<%= ptext('stock_work_text6')%>
<%= ttext('stock_work_text7')%>
<%= ptext('stock_work_text8_html')%>
<%= ttext('stock_work_text9')%>
<%= ptext('stock_work_text10_html')%>
<%= ttext('stock_work_text11')%>
<%= ptext('stock_work_text12_html') + brn(5)%>
<%= gallery('874.jpeg 102.jpeg 355.jpeg', 'g2') + brn(5)%>
<%= ttext('stock_work_text13')%>
<%= ptext('stock_work_text14')%>
<%= ttext('stock_work_text15')%>
<%= ptext('stock_work_text16_html')%>
<%= ttext('stock_work_text17')%>
<%= ptext('stock_work_text18_html') + brn(3)%>
<%= photo('101.jpeg') + brn(2)%>
<%= photo('497.jpeg') + brn(2)%>
<%= photo('81.jpeg') + brn(5)%>
<%= ttext('stock_work_text19') + br()%>
<%= gallery('215.jpeg 558.jpeg', 'g3')%>
<%= br() + link_to(ptext('stock_work_text20'), restoration_path) + brn(5)%>
<%= ptext('stock_work_text21') + br()%>
<%= gallery('743.jpeg 752.jpeg 653.jpeg 899.jpeg 767.jpeg 856.jpeg 723.jpeg 673.jpeg 928.jpeg 898.jpeg', 'g4') + brn(10)%>
</div>
