- content_for :title,  t('synthetic_rifles')
- content_for :header,  t('synthetic_rifles')
- content_for :head do
  %meta{content: "Todd Ramirez,synthetic rifles, custom rifles, pacnor barrel, fluted barrel, synthetic stock, trigger, jewelled trigger, african rifles, hunting rifles, deer hunting rifles, sniper rifles, gunsmith, beretta specialist, gun parts, gun work, gunmaker, premium rifles, premium gunmaker, winchester model 70, fiberglass rifles, MP3, duracoat, syn-fle, tac hunter, rust bluing, nitre bluing, leather wrap pads, express sights, trap door grip cap, integral barrel, skeleton butt plate, Left Handed Rifles, Left Hand Action,  dt10 barrel, SO4, SO3, SO5, holland and holland, purdys, beretta, perazzi, aya", name: "Keywords"}/
  %meta{content: "Todd Ramirez, synthetic rifle line gives you originality, quality and accuracy.  Custom rifles built for long range, tactical, and custom hunting rifles.  Guaranteed to shoot 1/2 moa with factory ammo. His two synthetic rifles are the Syn-Fle and the Tac-Hunter. He also offers custom premium rifles in wood ", name: "Description"}/
#content
  = ptext('synthetic_rifles_text16')
  = br() + ttext('synthetic_rifles_text0')
  = xtext('synthetic_rifles_text1') + brn(3)
  = lightbox('7.jpeg', 'g0','Synthetic Syn-fle 300 Win Mag Custom Rifle with Schmidt & Bender scope') + br()
  = lightbox('18.jpeg', 'g0','Desert Tan Synthetic Syn-fle Rifle with Schmidt & Bender scope') + br()
  = lightbox('986.jpeg', 'g0','Charcoal gray Syn-fle Synthetic Rifle with fluted barrel in 7mm stw' ) + br()
  = lightbox('993.jpeg', 'g0','Syn-fle Charcoal gray synthetic rifle with fluted barrel in 7mm stw with Schmidt & Bender scope')
  = ptext('synthetic_rifles_text2')
  = ptext('synthetic_rifles_text3')
  = ttext('synthetic_rifles_text4')
  = ptext('synthetic_rifles_text5_html')
  = ttext('synthetic_rifles_text6')
  = ptext('synthetic_rifles_text7_html') + brn(3)
  = lightbox('18.jpeg', 'g1', '7mm stw desert tan syn-fle synthetic rifle with Schmidt & Bender scope') + br()
  = lightbox('8.jpeg', 'g1', 'Syn-fle Synthetic rifle cheek piece on buttstock of rifle') + br()
  = lightbox('15.jpeg', 'g1', ' Desert Tan Synthetic Rifle with Schmidt & Bender scope and custom rings') + br()
  = lightbox('23.jpeg', 'g1', 'Syn-fle Synthetic rifle with inletted swivels and fluted barrel') + br()
  = lightbox('14.jpeg', 'g1', ' Desert tan synthetic custom rifle with fluted barrel and muzzle brake') + brn(3)
  = ttext('synthetic_rifles_text8')
  = ptext('synthetic_rifles_text9')
  = ptext('synthetic_rifles_text10')
  = ptext('synthetic_rifles_text11') + brn(3)
  = lightbox('17.jpeg', 'g2','338 Lapua Tac-Hunter Custom Synthetic Rifle with fluted barrel, muzzle break and Schmidt & Bender Scope') + br()
  = lightbox('204.jpeg', 'g2','Tac-Hunter Custom Synthetic Rifle in Desert Tan with fluted barrel  Schmidt & Bender scope and muzzle break')
  = ttext('synthetic_rifles_text12')
  = ptext('synthetic_rifles_text13_html')
  = ttext('synthetic_rifles_text14')
  = ptext('synthetic_rifles_text15_html') + brn(10)
