<% content_for :title,  t('synthetic_rifles') %>
<% content_for :header,  t('synthetic_rifles') %>
<div id="content">

<%= br() + ttext('synthetic_rifles_text0')%>
<%= xtext('synthetic_rifles_text1') + brn(3)%>
<%= lightbox('7.jpeg', 'g0') + br()%>
<%= lightbox('18.jpeg', 'g0') + br()%>
<%= lightbox('986.jpeg', 'g0') + br()%>
<%= lightbox('993.jpeg', 'g0')%>
<%= ptext('synthetic_rifles_text2')%>
<%= ptext('synthetic_rifles_text3')%>

<%= ttext('synthetic_rifles_text4')%>
<%= ptext('synthetic_rifles_text5_html')%>
<%= ttext('synthetic_rifles_text6')%>
<%= ptext('synthetic_rifles_text7_html') + brn(3)%>
<%= lightbox('18.jpeg', 'g1') + br()%>
<%= lightbox('8.jpeg', 'g1') + br()%>
<%= lightbox('15.jpeg', 'g1') + br()%>
<%= lightbox('23.jpeg', 'g1') + br()%>
<%= lightbox('14.jpeg', 'g1') + brn(3)%>



<%= ttext('synthetic_rifles_text8')%>
<%= ptext('synthetic_rifles_text9')%>
<%= ptext('synthetic_rifles_text10')%>
<%= ptext('synthetic_rifles_text11') + brn(3)%>

<%= lightbox('17.jpeg', 'g2') + br()%>
<%= lightbox('204.jpeg', 'g2')%>

<%= ttext('synthetic_rifles_text12')%>
<%= ptext('synthetic_rifles_text13_html')%>
<%= ttext('synthetic_rifles_text14')%>
<%= ptext('synthetic_rifles_text15_html') + brn(10)%>
</div>
