= form_for @box do |f|
  - if @box.errors.any?
    #error_explanation
      %h2= "#{pluralize(@box.errors.count, "error")} prohibited this box from being saved:"
      %ul
        - @box.errors.full_messages.each do |msg|
          %li= msg

  .field
    .input-group
      %span#provider-addon.input-group-addon Provider
      = f.text_field :provider, placeholder: "Provider", class: "form-control input-lg","aria-describedby" => "provider-addon"
  .field
    .input-group
      %span#length-addon.input-group-addon Length
      = f.number_field :length, :class => 'text_field', :step => 0.1, placeholder: "5 cm", class: "form-control input-lg","aria-describedby" => "length-addon"
  .field
    .input-group
      %span#height-addon.input-group-addon Height
      = f.number_field :height, :class => 'text_field', :step => 0.1, placeholder: "2 cm", class: "form-control input-lg","aria-describedby" => "height-addon"
  .field
    .input-group
      %span#width-addon.input-group-addon Width
      = f.number_field :width, :class => 'text_field', :step => 0.1, placeholder: "3 cm", class: "form-control input-lg","aria-describedby" => "width-addon"
  .field
    .input-group
      %span#weight-addon.input-group-addon Weight
      = f.number_field :weight, :class => 'text_field', :step => 0.001, placeholder: "1000 g", class: "form-control input-lg","aria-describedby" => "weight-addon"
  %p
  .actions
    = f.submit 'Save', :class => "btn btn-primary"
%p
