- content_for :title,  "Boxes"
.page-header
  %h1 Boxes
= link_to 'New Box', new_box_path, :class => "btn btn-primary"
%br
%table.table.table-hover
  %thead
    %tr
      %th Proivder
      %th Length
      %th Height
      %th Width
      %th Weight
      %th
  %tbody
    - @boxes.each do |box|
      %tr
        %td= box.provider
        %td= box.length
        %td= box.height
        %td= box.width
        %td= box.weight
        %td
          = link_to 'Show', box, :class => "btn btn-primary btn-block"
          = link_to 'Edit', edit_box_path(box), :class => "btn btn-primary btn-block"
          = link_to 'Destroy', box, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-primary btn-block"
