<% content_for :title,  t('gun_parts') %>
<% content_for :header,  t('gun_parts') %>
<div id="content">
<%= ttext('gun_parts_text0') + brn(2)%>
<%= ttext('gun_parts_text1')+ brn(5)%>
<%= ttext('gun_parts_text2')%>
<%= ptext('gun_parts_text3_html') + brn(3)%>
<%= ttext('gun_parts_text4')%>
<%= ptext('gun_parts_text5_html') + brn(10)%>
</div>
