- content_for :title,  t('metal_finishes')
- content_for :header,  t('metal_finishes')
- content_for :head do
  %meta{content: "Todd Ramirez, Custom Rifles, Shotguns, Finishes, Gun Restoration, Rust Bluing, nitre bluing, color case, custom metal work,duracoat, cerakoate,  engraving, dt10 barrel, SO4, SO3, SO5, holland and holland, purdys, beretta, perazzi, aya, Stock Work", name: "Keywords"}/
  %meta{content: "Todd Ramirez Custom Shop, LLC, specializes in unique one of a kind custom bolt rifles. Restore your original finish whether it be nitre bluing, rust bluing, hot bluing, color casing or painting for synthetic guns.  Restoration of firearms, gunsmithing, shotguns, leather wrap pads and gun fitting.", name: "Description"}/
#content
  = xtext('metal_finishes_text0_html') + br()
  = photo('648.jpeg')
  = brn(2) + ttext('metal_finishes_text1')
  = ptext('metal_finishes_text2_html')
  = brn(2) + ttext('metal_finishes_text3')
  = ptext('metal_finishes_text4')
  = brn(2) + ttext('metal_finishes_text5')
  = ptext('metal_finishes_text6')
  = brn(2) + ttext('metal_finishes_text7')
  = ptext('metal_finishes_text8')
  = brn(2) + gallery('963.jpeg 709.jpeg 841.jpeg 648.jpeg','g0') +brn(10)
