<% content_for :title,  t('metal_finishes') %>
<% content_for :header,  t('metal_finishes') %>
<% content_for :head do %>
<meta name="Keywords" content="Todd Ramirez, Custom Rifles, Shotguns, Finishes, Gun Restoration, Rust Bluing, nitre bluing, color case, custom metal work, engraving, dt10 barrel, SO4, SO3, SO5, holland and holland, purdys, beretta, perazzi, aya, Stock Work">
<meta name="Description" content="Todd Ramirez Custom Bolt Action Rifle Builder, Specializes in unique one of a kind rifles.  Restoration of firearms, gunsmithing, shotguns, leather wrap pads and gun fitting.">
<% end %>
<div id="content">
<%= xtext('metal_finishes_text0_html') + br()%>
<%= photo('648.jpeg')%>
<%= brn(2) + ttext('metal_finishes_text1')%>
<%= ptext('metal_finishes_text2_html')%>
<%= brn(2) + ttext('metal_finishes_text3')%>
<%= ptext('metal_finishes_text4')%>
<%= brn(2) + ttext('metal_finishes_text5')%>
<%= ptext('metal_finishes_text6')%>
<%= brn(2) + ttext('metal_finishes_text7')%>
<%= ptext('metal_finishes_text8')%>
<%= brn(2) + gallery('963.jpeg 709.jpeg 841.jpeg 648.jpeg','g0') +brn(10)%>
</div>
