<% content_for :title,  t('metal_finishes') %>
<% content_for :header,  t('metal_finishes') %>
<div id="content">
<%= xtext('metal_finishes_text0_html') + br()%>
<%= photo('648.jpeg')%>
<%= brn(2) + ttext('metal_finishes_text1')%>
<%= ptext('metal_finishes_text2_html')%>
<%= brn(2) + ttext('metal_finishes_text3')%>
<%= ptext('metal_finishes_text4')%>
<%= brn(2) + ttext('metal_finishes_text5')%>
<%= ptext('metal_finishes_text6')%>
<%= brn(2) + ttext('metal_finishes_text7')%>
<%= ptext('metal_finishes_text8')%>
<%= brn(2) + gallery('963.jpeg 709.jpeg 841.jpeg 648.jpeg','g0') +brn(10)%>
</div>
