- content_for :title,  t('alchemist_series')
- content_for :header,  t('alchemist_series')
- content_for :head do
  %meta{content: ", Todd Ramirez, Premium Rifles, custom rifles, custom rifle builer, accuracy rifles, biggame rifles,  Bolt Action Rifles, Gunsmith, Gunfitting", name: "Keywords"}/
  %meta{content: " Todd Ramirez premium rifles, Custom Shop, LLC, specializes in high quality rifle building, building premium bolt action rifles, gunsmithing and restoration services to the sporting arms community.", name: "Description"}/
#content
  = photo('alchemist.png')
  / Avani
  = p('alchemist_series_text7_html')
  = photo('avani.svg')
  = photo('7645.jpeg','Avani Warrior Rifle Turkish Walnut Blank')
  = photo('7650.jpeg','Avani Rifle Carbon Barrel')
  = gallery_text('7657.jpeg 7663.jpeg','g2','alchemist_series_text1','avani warrior rifle, avani warrior 300 win mag')
  = p('alchemist_series_text8_html')
  %h2
    %b= link_to('click here for order form.', avani_path)
  = brn(3)
  / Ember
  = photo('ember.svg')
  = photo('7633.jpeg', 'Ember Warrior Rifle')
  = photo('7639.jpeg', 'Ember Warrior 300 win mag')
  = gallery_text('7635.jpeg 7641.jpeg','g0','alchemist_series_text2','Ember warrior 300 win mag,Ember custom flame paint') + brn(5)
  = photo('7658.jpeg', 'Ember Warrior 338 Lapua')
  = photo('7659.jpeg', 'Ember Warrior Rifle')
  = gallery_text('7637.jpeg 7652.jpeg', 'g1', 'alchemist_series_text3','Ember warrior 338 Lapua Mag, Ember custom paint Octagon') + brn(5)
  = photo_text('7649.jpeg', 'alchemist_series_text6', 'Ember with optional control feed action and match grade fluted steel barrel')
  = p('alchemist_series_text9_html')
  %h2
    %b= link_to('click here for order form.', ember_path)
  = brn(5)
  / DSC
  = photo('7626.jpeg', 'Dallas Safari Life Members Breakfast auction')
  = photo_text('7654.jpeg', 'alchemist_series_text4' ,'DSC Life Members Breakfast auction 6.5 Creedmore')
  = p('alchemist_series_text10_html')
  = brn(5)
  / Zephyr
  = photo('zephyr.svg')
  = photo('7629.jpeg', 'Zephyr Warrior Rifle')
  = photo('7630.jpeg' ,'Zephyr Warrior Rifle 338 Lapua Magnum')
  = gallery_text('7625.jpeg 7651.jpeg', 'g3', 'alchemist_series_text5','Zephyr Warrior Rifle 338 Lapua, Zephyr Warrior Rifle Custom Paint')
  = p('alchemist_series_text11_html')
  %h2
    %b= link_to('click here for order form.', zephyr_path)
  = brn(15)
  / for later use
