- content_for :title,  "Orders"
.page-header
  %h1 Orders

= paginate @orders
-@orders.each do |order|
  .well.clearfix
    .row
      .col-md-3.col-sm-6.col-xs-12
        .row Order Placed
        .row= l order.updated_at, format: :long
        %p
      .col-md-3.col-sm-6.col-xs-12
        .row Total
        .row= number_to_currency order.total
        %p
      .col-md-3.col-sm-6.col-xs-12
        .row Ship to
        .row
          - address = order.get_address
          -if !address.nil?
            =link_to address.name, address
        %p
      .col-md-3.col-sm-6.col-xs-12
        .row
          = 'Order Number #' + ("%08X" % order.id)
        .row.btn-group-justified{ :style => "width:100%;" }
          =link_to 'Order Details', order_details_path(order), class: 'btn btn-primary', style: 'width:50%;'
          =link_to 'Invoice', order_invoice_path(order), class: 'btn btn-primary', style: 'width:50%;'
        %p
    %p
    -if order.shipments.count == 0
      %h5 Empty Order
    -else
      -order.shipments.zip(order.shipping_methods).each do |shipment,shipping_method|
        .row
          .col-md-3.col-sm-6.col-xs-12
            .row Shipped by
            .row
              = shipment.shipped_by.to_s.titleize
            %p
          .col-md-3.col-sm-6.col-xs-12
            .row Shipping Method
            .row
              = (shipping_method.service_name.to_s) unless shipping_method.nil?

            %p
        %p
        .row
          .col-md-9.col-sm-9.col-xs-12
            .row
              -shipment.units.each do |unit|
                -if !unit.product_id.nil?
                  .row
                    .col-md-4.col-sm-6.col-xs-12
                      .widewrapper=link_to(image_tag(unit.product.photos.first.image.thumb), unit.product) unless unit.product.photos.first.nil?
                      %p
                    .col-md-8.col-sm-6.col-xs-12
                      =link_to(unit.product.title.titleize, unit.product)
                      %p
                      = "Quantity #{unit.quantity}"
                      %p
                      = "Price #{number_to_currency unit.price}"
                  %p
          .col-md-3.col-sm-3.col-xs-12
            .row{ :style => "width:100%;" }
              -if shipping_method.service_name.to_s.downcase.include? "usps"
                =link_to "Track", "https://tools.usps.com/go/TrackConfirmAction?tLabels="  + shipment.tracking.to_s, class: "btn btn-primary btn-block"
              -elsif shipping_method.service_name.to_s.downcase.include? "fedex"
                =link_to "Track", "https://www.fedex.com/apps/fedextrack/?tracknumbers="  + shipment.tracking.to_s, class: "btn btn-primary btn-block"
              -elsif shipping_method.service_name.to_s.downcase.include? "download"
                =link_to "Download", shipment.tracking.to_s, class: "btn btn-primary btn-block"
              -if current_user.admin
                =link_to "Edit", edit_shipment_path(shipment), class: "btn btn-primary btn-block"
        -if !order.comment.empty?
          .row
            %p
              ="Comment: #{order.comment}"
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = paginate @orders
