- content_for :title,  "Order Management"
.page-header
  %h1 Order Management
-@orders.each do |order|
  .well.clearfix
    .row
      .col-md-3.col-sm-6.col-xs-12
        .row Order Placed
        .row= order.updated_at
        %p
      .col-md-3.col-sm-6.col-xs-12
        .row Total
        .row= number_to_currency order.total
        %p
      .col-md-3.col-sm-6.col-xs-12
        .row Ship to
        .row
          - address = order.get_address
          -if !address.nil?
            =link_to address.name, address
        %p
      .col-md-3.col-sm-6.col-xs-12
        .row
          = 'Order Number #' + ("%08X" % order.id)
        .row.btn-group-justified{ :style => "width:100%;" }
          =link_to 'Order Details', '#', class: 'btn btn-primary', style: 'width:50%;' 
          =link_to 'Invoice', '#', class: 'btn btn-primary', style: 'width:50%;' 
        %p
    %p
    -if order.shipments.count == 0
      %h5 Empty Order
    -else
      -order.shipments.each do |shipment|
        .row
          .col-md-3.col-sm-6.col-xs-12
            .row Shipped by
            .row
              -if shipment.shipped_by.nil?
                = 'Custom Shop, LLC'
              -else
                = shipment.shipped_by.titleize
            %p
        %p
        .row
          .col-md-9.col-sm-9.col-xs-12
            .row
              -shipment.units.each do |unit|
                -if !unit.product_id.nil?
                  .row
                    .col-md-4.col-sm-6.col-xs-12
                      .widewrapper=link_to(image_tag(unit.product.photos.first.image.thumb), unit.product) unless unit.product.photos.first.nil?
                      %p
                    .col-md-8.col-sm-6.col-xs-12
                      =link_to(unit.product.title.titleize, unit.product)
                      %p
                      = "Price #{number_to_currency unit.price}"
                  %p
          .col-md-3.col-sm-3.col-xs-12
            .row{ :style => "width:100%;" }
              =link_to "Track", "#", class: "btn btn-primary btn-block"

