<% content_for :title,  t('shotguns') %>
<% content_for :header,  t('shotguns') %>
<div id="content">
<%= brn(3) + ptext('shotguns_text0') + brn(2)%>
<%= ptext('shotguns_text1') + brn(2)%>
<%= gallery('827.jpeg 687.jpeg 833.jpeg 720.jpeg 719.jpeg 686.jpeg 893.jpeg 778.jpeg 806.jpeg 783.jpeg 951.jpeg 798.jpeg 904.jpeg 847.jpeg 719.jpeg', 'g0') + brn(3)%>
<%= ttext('shotguns_text2') + brn(2)%>
<%= ttext('shotguns_text3')%>
<%= ptext('shotguns_text4_html') + br()%>
<%= ttext('shotguns_text5')%>
<%= ptext('shotguns_text6_html') + brn(5)%>
<%= photo('360.jpeg')%>
<%= photo('585.jpeg')%>
<%= photo('578.jpeg')%>
<%= lightbox('1240.jpeg', 'g1') + brn(5)%>
<%= ttext('shotguns_text7')%>
<%= ttext('shotguns_text8') + brn(2)%>
<%= gallery('562.jpeg 355.jpeg 7500.jpeg 7400.jpeg 3900.jpeg', 'g2') + brn(5)%>
<%= ttext('shotguns_text9')%>
<%= ptext('shotguns_text10') + br()%>
<%= ttext('shotguns_text11')%>
<%= ptext('shotguns_text12_html') + br()%>
<%= ttext('shotguns_text13')%>
<%= ptext('shotguns_text14_html') + brn(3)%>
<%= ttext('shotguns_text15') + brn(3)%>
<%= gallery_text('415.jpeg 46.jpeg', 'g3', 'shotguns_text16') + brn(5)%>
<%= ttext('shotguns_text17') + brn(2)%>
<%= gallery('102.jpeg 151.jpeg 61.jpeg 582.jpeg 388.jpeg 335.jpeg', 'g4') + brn(3)%>
<%= ttext('shotguns_text18')%>
<%= link_to(ptext('shotguns_text19'), stock_work_path)%>
<%= ptext('shotguns_text20_html')+ brn(3)%>
<%= ttext('shotguns_text21')%>
<%= ptext('shotguns_text22_html')%>
<%= link_to(ptext('shotguns_text23'), stock_work_path) + brn(3)%>
<%= ttext('shotguns_text24')%>
<%= ptext('shotguns_text25_html') + brn(3)%>
<%= ttext('shotguns_text26')%>
<%= ptext('shotguns_text27_html') + brn(3)%>
<%= ttext('shotguns_text28')%>
<%= ptext('shotguns_text29')%>
<%= link_to(ptext('shotguns_text30'), stock_work_path) + brn(3)%>
<%= ttext('shotguns_text31')%>
<%= ptext('shotguns_text32_html') + brn(3)%>
<%= photo('874.jpeg') + brn(2)%>
<%= gallery('942.jpeg 650.jpeg 701.jpeg 862.jpeg 867.jpeg 937.jpeg', 'g5') + brn(5)%>

<%= ttext('shotguns_text33') + brn(2)%>
<%= gallery('426.jpeg 732.jpeg 726.jpeg 918.jpeg 774.jpeg', 'g6') + brn(10)%>
</div>
