- content_for :title,  t('shotguns')
- content_for :header,  t('shotguns')
#content
  - content_for :head do
    %meta{content: "Todd Ramirez, shotgun restocking, shotgun fitting, gun fitting, dt10, S03, S04, S05, S09, Beretta specialist, Custom shotguns,   barrels, Beretta, Gunsmith, restoration, rust bluing, relay ribs, back to face, headspace, install new barrels, custom stocks, stock repairs, shotgun repairs, leather wrap recoil pads, dt10 barrel, SO4, SO3, SO5,  holland and holland, purdys, beretta, perazzi", name: "Keywords"}/
    %meta{content: "Todd Ramirez, is a shotgun speicalist with over 30 years experience in fine shotguns with 9 years of Italian training on Berettas and other Italian guns.  Todd specializes in hand making parts and refitting back to original specs on High end premium shotguns when parts are not available; this includes heat treating. Todd worked for Beretta as their master gunsmith.  He is a expert gun fitter, and also builds shotgun stocks for all models of shotguns, including side by sides and over and unders.", name: "Description"}/
  = brn(3) + ptext('shotguns_text0') + brn(2)
  = ptext('shotguns_text1') + brn(2)
  = gallery('827.jpeg 687.jpeg 833.jpeg 720.jpeg 719.jpeg 686.jpeg 893.jpeg 778.jpeg 806.jpeg 783.jpeg 951.jpeg 798.jpeg 904.jpeg 847.jpeg 719.jpeg', 'g0','Beretta S04 restored and restocked with custom DT10 barrels custom fitted to shotgun, Beretta S04 Turkish walnut stock, 32 inch DT10 barrels customized to fit, DT10 barrels fitted to S04, Restored S04, S04 buttstock, S04 forearm and metal work, S04 restored, S04 restored metal and wood, S04 Stock, S04 side plates, S04 Bottom view, S04 buttstock, S04 restored, Beretta S04 restored') + brn(6)
  = ttext('shotguns_text34')
  = p('shotguns_text35')
  = gallery('7685.jpeg 7695.jpeg 7701.jpeg', 'g7', 'Beretta 687, beretta 687 12 ga., beretta 687 custom') + brn(6)
  = ttext('shotguns_text2') + brn(2)
  = ttext('shotguns_text3')
  = ptext('shotguns_text4_html') + br()
  = ttext('shotguns_text5')
  = ptext('shotguns_text6_html') + brn(5)
  = photo('360.jpeg','Holland and Holland english side plates')
  = photo('585.jpeg','Purdy side plates with working mechanisms')
  = photo('578.jpeg','Purdy side plates working mechanisms')
  = lightbox('1240.jpeg', 'g1','Long action with long tang - Purdy side plates working mechanisms and part making') + brn(5)
  = ttext('shotguns_text7')
  = ttext('shotguns_text8') + brn(2)
  = gallery('562.jpeg 355.jpeg 7500.jpeg 7400.jpeg 3900.jpeg', 'g2','Custom engraved heal and toe with engraving and checkering, Beretta S0 stock work, Beretta S09 shotgun with sideplates and color casing, Beretta S06 repair and restore, Restored Westley Richards Double Rifle ') + brn(5)
  = ttext('shotguns_text9')
  = ptext('shotguns_text10') + br()
  = ttext('shotguns_text11')
  = ptext('shotguns_text12_html') + br()
  = ttext('shotguns_text13')
  = ptext('shotguns_text14_html') + brn(3)
  = ttext('shotguns_text15') + brn(3)
  = gallery_text('415.jpeg 46.jpeg', 'g3', 'shotguns_text16','Beretta shotgun being converted from pistol grip to prince of wales, Beretta shotgun converted from pistol grip to prince of wales') + brn(5)
  = ttext('shotguns_text17') + brn(2)
  = gallery('102.jpeg 151.jpeg 61.jpeg 582.jpeg 388.jpeg 335.jpeg', 'g4','Beretta Stock with grip converted to prince of wales, prince of wales grip, Beretta shotgun with prince of wales grip, Beretta shotgun with prince of wales grip, Beretta stock with converted grip to prince of wales, prince of wales shotgun grip') + brn(3)
  = ttext('shotguns_text18')
  = link_to(ptext('shotguns_text19'), 'stock-work')
  = ptext('shotguns_text20_html')+ brn(3)
  = ttext('shotguns_text21')
  = ptext('shotguns_text22_html')
  = link_to(ptext('shotguns_text23'), 'stock-work') + brn(3)
  = ttext('shotguns_text24')
  = ptext('shotguns_text25_html') + brn(3)
  = ttext('shotguns_text26')
  = ptext('shotguns_text27_html') + brn(3)
  = ttext('shotguns_text28')
  = ptext('shotguns_text29')
  = link_to(ptext('shotguns_text30'), 'stock-work') + brn(3)
  = ttext('shotguns_text31')
  = ptext('shotguns_text32_html') + brn(3)
  = photo('874.jpeg','Beretta 686 Restocked with examples of shotgun blanks') + brn(2)
  = gallery('942.jpeg 650.jpeg 701.jpeg 862.jpeg 867.jpeg 937.jpeg', 'g5','Restocked Zoli shotgun, Beretta ASE restocked, Hand Checkered point pattern on shotgun buttstock, Restocked S04 Beretta shotgun, Beretta S05 Finished Shotgun buttstock with wood blanks, Examples of Shotgun Blanks') + brn(5)
  = ttext('shotguns_text33') + brn(2)
  = gallery('426.jpeg 732.jpeg 726.jpeg 918.jpeg 774.jpeg', 'g6','Beretta S09 stock refinished, Beretta S09 custom heal and toe, Beretta S09 engraved heal and toe with checkering, Beretta S09 Barrel with forend, Beretta S09 refurbished buttstock and forend') + brn(10)
