<% content_for :title,  t('restoration') %>
<% content_for :header,  t('restoration') %>
<% content_for :head do %>
<meta name="Keywords" content="Todd Ramirez, custom rifles, custom guns, african rifles, deer hunting rifles, stock making, restoration, checkering, engraving, parts making, regulating double rifles,  putting barrel back to face,  dt10 barrel, SO4, SO3, SO5, holland and holland, purdys, beretta, perazzi, aya">
<meta name="Description" content="Todd Ramirez, Premium Rifle Builder makes unique one of a kind rifles.  He also specializes in restoration of fine firearms.">
<% end %>
<div id="content">
<%= br() + ttext('restoration_text0')%>
<%= br() + ptext('restoration_text1_html') + brn(2)%>
<%= photo_text('652.jpeg', 'restoration_text2') + brn(5)%>
<%= gallery_text('273.jpeg 229.jpeg 304.jpeg 587.jpeg 231.jpeg', 'g0', 'restoration_text3') + brn(5)%>
<%= photo('908.jpeg') + brn(2)%>
<%= photo_text('746.jpeg', 'restoration_text4') +brn(5)%>
<%= photo_text('385.jpeg', 'restoration_text5') +brn(5)%>
<%= photo_text('418.jpeg', 'restoration_text6') +brn(5)%>
<%= gallery_text('64.jpeg 83.jpeg', 'g1', 'restoration_text7') + brn(5)%>
<%= photo_text('140.jpeg', 'restoration_text8') +brn(5)%>
<%= gallery_text('134.jpeg 492.jpeg', 'g2', 'restoration_text9') + brn(5)%>
<%= gallery_text('573.jpeg 469.jpeg', 'g3', 'restoration_text10') + brn(5)%>
<%= photo_text('948.jpeg', 'restoration_text11') +brn(5)%>
<%= lightbox_text('716.jpeg', 'g4', 'restoration_text12') + brn(5)%>
<%= gallery_text('780.jpeg 884.jpeg 950.jpeg 870.jpeg 877.jpeg 648.jpeg 721.jpeg 792.jpeg 962.jpeg 841.jpeg 963.jpeg 681.jpeg 740.jpeg 709.jpeg 911.jpeg', 'g5', 'restoration_text13')%>
<%= ptext('restoration_text14') + brn(10)%>
</div>
