- content_for :title,  "Cart"
.page-header
  %h1 Cart
-current_order.update_items
-@order.update_order

-if @order_items.count == 0
  %h2 There are no products in your cart.
-else
  -@order_items.each do |order_item|
    .well
      -if !order_item.product_id.nil?
        -@product = Product.find(order_item.product_id)
        .row
          .col-md-8.col-sm-8.col-xs-12=link_to(@product.title.titleize, @product) + (br() + link_to(image_tag(@product.photos.first.image.thumb), @product) unless @product.photos.first.nil?)
          .col-md-2.col-sm-2.col-xs-12
            Price: 
            %span=number_to_currency @product.price
          .col-md-2.col-sm-2.col-xs-12
            = form_for order_item, remote: true do |f|
              .row
                -if (@product.quantity.to_i >= 1)
                  .col-md-12.col-sm-12.col-xs-4= f.select :quantity, options_for_select(1..@product.quantity, :selected => order_item.quantity), {}, class: "form-control"
                  = f.hidden_field :product_id, value: order_item.product_id
                  .col-md-12.col-sm-12.col-xs-4= f.submit "Update", class: "btn btn-primary btn-block"
                .col-md-12.col-sm-12.col-xs-4= link_to "Delete", order_item, {  method: :delete, remote: true, class: "btn btn-danger btn-block" }

.panel-footer.clearfix
  .pull-right
    = "Subtotal (#{pluralize(@order.quantity, 'item')}): "
    = number_to_currency @order.subtotal
%p
.pull-right
  =link_to "Continue Shopping", products_path, class: "btn btn-primary"
  -if @order_items.count != 0
    =link_to "Checkout", address_select_path, class: "btn btn-primary"
  %p
