<% content_for :title,  t('gun_fitting') %>
<% content_for :header,  t('gun_fitting') %>
<% content_for :head do %>
<meta name="Keywords" content="todd ramirez,gun fitting,custom rifles, custom synthetic rifles, custom stocks, stock bending, right hand cast, left hand cast,  length of pull, pitch, recoil pad, leather wrapped pad,  dt10 barrel, SO4, SO3, SO5, holland and holland, purdys, beretta, perazzi, aya">
<meta name="Description" content="Todd Ramirez, Gun Fitter, Rifle Maker, Shotgun Stocks, Restoration and Gunsmithing">
<% end %>
<div id="content">
<%= ttext('gun_fitting_text0') + br()%>
<%= ptext('gun_fitting_text1_html') + brn(3)%>
<%= ttext('gun_fitting_text2')%>
<%= ptext('gun_fitting_text3_html')%>
<%= ttext('gun_fitting_text4')+ brn(3)%>
<%= ptext('gun_fitting_text5')%>
<%= ptext('gun_fitting_text6_html')+ brn(3)%>
<%= ttext('gun_fitting_text7')%>
<%= ptext('gun_fitting_text8_html')+ brn(3)%>
<%= xtext('gun_fitting_text9') + brn(10)%>
</div>
