<% content_for :title,  t('gun_fitting') %>
<% content_for :header,  t('gun_fitting') %>
<div id="content">
<%= xtext('gun_fitting_text0') + br()%>
<%= ptext('gun_fitting_text1_html') + brn(3)%>
<%= ttext('gun_fitting_text2')%>
<%= ptext('gun_fitting_text3_html')%>
<%= xtext('gun_fitting_text4')+ brn(3)%>
<%= ptext('gun_fitting_text5')%>
<%= ptext('gun_fitting_text6_html')+ brn(3)%>
<%= ttext('gun_fitting_text7')%>
<%= ptext('gun_fitting_text8_html')+ brn(3)%>
<%= xtext('gun_fitting_text9') + brn(10)%>
</div>
