<% content_for :title,  t('photo_gallery') %>
<% content_for :header,  t('photo_gallery') %>
<% content_for :head do %>
<meta name="Keywords" content="Todd Ramirez, Custom Rifles, Premium Rifle Maker, bolt action rifles, custom gunmaker, shotguns, custom work. Craig Boddington, Safari Club, Gunsmith, Synthetic Rifles, African Rifles, Deer Hunting Rifles, gun fitter, leather wrap pads.">
<meta name="Description" content="Todd Ramirez Premium Rifles.  Todd's customer's share their trophys that were shot with Todd Ramirez Premium Rifles.">
<% end %>
<div id="content">
<%= link_to xtext('photo_gallery_text0'),  'boddington-trophy'%>
<%= brn(6) + gallery('967.jpeg 977.jpeg 979.jpeg 976.jpeg 973.jpeg 978.jpeg', "g8") %>
<%= itext('photo_gallery_text10') %>
<%= brn(3) + gallery('965.jpeg 966.jpeg 968.jpeg 970.jpeg 971.jpeg 972.jpeg 974.jpeg 975.jpeg 980.jpeg 983.jpeg 984.jpeg', "g9") %>
<%= itext('photo_gallery_text11')%>
<%= brn(3) + gallery('7541.jpeg 969.jpeg 7538.jpeg 7544.jpeg', "g7")%>
<%= itext('photo_gallery_text9') %>
<%= brn(3) + gallery('7536.jpeg 7537.jpeg 7539.jpeg 7540.jpeg 7542.jpeg 7543.jpeg', "g10")%>
<%= itext('photo_gallery_text12') %>
<%= brn(3) + gallery('929.jpeg 689.jpeg', "g1") %>
<%= itext('photo_gallery_text1') %>
<%= brn(3) + gallery('215.jpeg 558.jpeg', "g2") %>
<%= itext('photo_gallery_text2') %>
<%= brn(3) + lightbox_text('356.jpeg', "g3", 'photo_gallery_text3') %>
<%= brn(3) + lightbox_text('240.jpeg', "g4",'photo_gallery_text4_html') %>
<%= brn(3) + lightbox_text('607.jpeg', "g5",'photo_gallery_text5_html') %>
<%= itext('photo_gallery_text6_html') %>
<%= brn(3) + lightbox_text('597.jpeg', "g6",'photo_gallery_text7') %>


</div>
