- content_for :title,  "Select shipping options"
.page-header
  %h1 Choose your shipping options
=form_for @order do |f|
  .row
    .pull-right
      .action
        = f.submit 'Continue', name: "process_order", :class => "btn btn-primary"
  -@shipping_information.each do |shipper, shipping_method, packed, rates|
    .row
      .col-md-6.col-sm-6.col-xs-6
        .row
          %h4= "Shipping from #{shipper.company_name unless shipper.nil?}"
        .row= "Shipping to #{@order.get_address.display}"
        %p
        -@order.items.joins(:product).where(products: {shipper_id: shipper.id}).each do |item|
          -if !item.product_id.nil?
            -product = Product.find(item.product_id)
            .row
              %ul
                %li
                  %b= product.title.titleize
                  %p
                    = "Price #{number_to_currency item.price} - Quantity: #{item.quantity}"
              %p
      .col-md-6.col-sm-6.col-xs-6
        %h3 Choose a delivery option
        =f.fields_for :shipping_methods, shipping_method do |ff|
          -if shipper.scheme == 0
            -if rates
              - rates.flatten!(1)
              - rates.each_with_index do |s, i|
                - price =s.price.to_f / 100 + shipper.handling_fee.to_f + s.price.to_f / 100 * shipper.up_charge_rate.to_f
                .field
                  -if i == 0
                    = ff.radio_button :price, [price,:service_name => s.service_name], :checked => true
                  -else
                    = ff.radio_button :price,[price,:service_name => s.service_name], :checked => false
                  = "#{number_to_currency(price)} - #{s.service_name}"
          -elsif shipper.scheme == 1
            - price = shipper.price.to_f + shipper.handling_fee.to_f
            -if shipper.usps
              .field
                = ff.radio_button :price, [price,:service_name => 'USPS Flat Rate'], :checked => true
                = "#{number_to_currency(price)} - USPS Flat Rate"
            -if shipper.fedex
              .field
                = ff.radio_button :price, [price,:service_name => 'Fedex Flat Rate'], :checked => true
                = "#{number_to_currency(price)} - Fedex Flat Rate"
            -if shipper.ups
              .field
                = ff.radio_button :price, [price,:service_name => 'UPS Flat Rate'], :checked => true
                = "#{number_to_currency(price)} - UPS Flat Rate"
          -elsif shipper.scheme == 2
            .field
              - price = shipper.price.to_f + shipper.handling_fee.to_f
              = ff.radio_button :price, [price,:service_name => 'Digital Download'], :checked => true
              = "#{number_to_currency(price)} - Digital Download"
  .row
    .pull-right
      .action
        = f.submit 'Continue', name: "process_order", :class => "btn btn-primary"
