= form_for @photo do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  .field
    .input-group
      %span#product-id-addon.input-group-addon Product ID
      = f.number_field :product_id, class: "form-control input-lg","aria-describedby" => "product-id-addon"
  .field
    .form-group
      = f.file_field :image, class: "form-control input-lg", type: "file"
  .actions
    = f.submit 'Save', :class => "btn btn-primary"
%p
