<% content_for :title,  t('custom_work') %>
<% content_for :header,  t('custom_work') %>
<% content_for :head do %>
<meta name="Keywords" content="Todd Ramirez,custom rifles,custom work, metal work,custom stocks, restoration, restocking, Express sights, custom bolt handle, initial plates, cross bolts, heal and toe,  butt plate, leather wrap, pad, checkering,  dt10 barrel, SO4, SO3, SO5, holland and holland, purdys, beretta, perazzi, aya">
<meta name="Description" content="Todd Ramirez Premium Rifles, Custom Shop, LLC. specializes in top quality gunmaking, stock work, shotgun repair,  gunsmithing and firearms restoration services to the sporting arms community.">
<% end %>
<div id="content">
<%= brn(2) + xtext('custom_work_text0')%>
<%= ptext('custom_work_text1_html') + brn(3)%>
<%= photo_text('151.jpeg', 'custom_work_text2')%>
<%= brn(3) + ttext('custom_work_text3')%>
<%= ptext('custom_work_text4_html')+ br()%>
<%= gallery('562.jpeg 701.jpeg 124.jpeg','g0')%>
<%= br() + ptext('custom_work_text5')%>
<%= brn(3) + gallery('456.jpeg 625.jpeg 340.jpeg 591.jpeg 227.jpeg 296.jpeg 264.jpeg 49.jpeg 363.jpeg 209.jpeg 586.jpeg 146.jpeg 485.jpeg 319.jpeg 341.jpeg 75.jpeg 612.jpeg 315.jpeg 599.jpeg 31.jpeg 541.jpeg 457.jpeg 142.jpeg 284.jpeg 263.jpeg 179.jpeg 461.jpeg 590.jpeg 394.jpeg 222.jpeg','g1')%>
<%= br() + link_to(ptext('custom_work_text6'), 'custom-rifles') + brn(10)%>
</div>
