<% content_for :title,  t('taylors_pens_and_gifts_html') %>
<% content_for :header,  t('taylors_pens_and_gifts_html') %>
<div id="content">
<%= brn(2) + photo('314.jpeg') + brn(3)%>
<%= link_to(photo('0x4.jpeg'), pens_path)%>
<%= link_to(photo('0x1.jpeg'), wine_stoppers_path)%>
<%= link_to(photo('0x2.jpeg'), key_chains_path)%>
<%= link_to(photo('0x3.jpeg'), bracelet_helpers_path) + brn(10)%>
</div>
