<% content_for :title,  t('taylors_pens_and_gifts_html') %>
<% content_for :header,  t('taylors_pens_and_gifts_html') %>
<% content_for :head do %>
<meta name="Keywords" content="taylor ramirez, pen maker, slimline pens, polaris pens, gentlemens pens,  wine stoppers, keychains, burl, diamondwood, elk horn, deer horn, handmade pens,  great gifts, wedding gifts, graduation gifts, safari club international, dallas safari club, beretta, todd ramirez, gunsmith, custom rifles">
<meta name="Description" content="Taylor Ramirez, Pen turner, makes unique hand turned wood pens.">
<% end %>
<div id="content">
<%= brn(2) + photo('314.jpeg') + brn(3)%>
<%= link_to(photo('0x4.jpeg'), pens_path)%>
<%= link_to(photo('0x1.jpeg'), wine_stoppers_path)%>
<%= link_to(photo('0x2.jpeg'), key_chains_path)%>
<%= link_to(photo('0x3.jpeg'), bracelet_helpers_path) + brn(10)%>
</div>
