<% content_for :title,  t('leather_wrap_pads') %>
<% content_for :header,  t('leather_wrap_pads') %>
<% content_for :head do %>
<meta name="Keywords" content="Todd Ramirez, Custom Rifles, Shotgun Pad, Gun Fitting, Leather Wrap Pad, Black Leather Wrap Pad, Brown Leather Wrap Pad, recoil pad, leather pad, ">
<meta name="Description" content="Todd Ramirez, Premium Rifle Builder, Leather wrap pads, gunsmithing, restoration">
<% end %>
<div id="content">
<%= br()+ photo('931.jpeg') + brn(3) %>
<%= photo('843.jpeg') + brn(4) %>
<%= xtext('leather_wrap_pads_text0_html') + brn(2) %>
<%= xtext('leather_wrap_pads_text1_html') + brn(2) %>
<%= xtext('leather_wrap_pads_text2_html') + brn(3) %>
<%= photo('67.jpeg') + brn(8) %>
</div>
