<% content_for :title,  t('leather_wrap_pads') %>
<% content_for :header,  t('leather_wrap_pads') %>
<% content_for :head do %>
<meta name="Keywords" content="Todd Ramirez, leather wrap recoil pad, shotgun work, gun fitting, shotgun, Beretta, Custom Rifles, Shotgun Pad, Gun Fitting, Black Leather Wrap recoil Pad, Brown Leather Wrap recoil Pad, recoil pad, leather pad, ">
<meta name="Description" content="Todd Ramirez, Premium Rifle Builder,Gunsmith, Stock Maker specialized in  Leather wrap recoil pads in choice of leathers and colors.">
<% end %>
<div id="content">
<%= br()+ photo('931.jpeg','black leather wrapped recoil pad on custom rifle') + brn(3) %>
<%= photo('843.jpeg','brown leather wrapped recoil pad on Beretta shotgun') + brn(4) %>
<%= xtext('leather_wrap_pads_text0_html') + brn(2) %>
<%= xtext('leather_wrap_pads_text1_html') + brn(2) %>
<%= xtext('leather_wrap_pads_text2_html') + brn(3) %>
<%= photo('67.jpeg','black and brown leather recoil pad for shotguns or rifles') + brn(8) %>
</div>
