.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => products_path}=image_tag('theme/store_default/tr.svg', :title => 'Store Home Page', :alt => 'TR', :style => 'height:20px;display:inline;')
    / Collect the nav links, forms, and other content for toggling
    #navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => products_path} Store
        %li
          %a{:href => home_path} Home
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Categories
            %span.caret
          %ul.dropdown-menu
            %li.dropdown-header
              %h5
                Store
            %li
              %a{:href => barrels_path} Barrels
            %li
              %a{:href => custom_parts_path} Custom Parts
            %li
              %a{:href => decor_path} Décor
            %li
              %a{:href => gifts_path} Gifts
            %li
              %a{:href => gun_cases_path} Gun Cases
            %li
              %a{:href => gunparts_path} Gun Parts
            %li
              %a{:href => guns_path} Guns
            %li
              %a{:href => jewelry_path} Jewelry
            %li
              %a{:href => new_arrivals_path} New Arrivals
            %li
              %a{:href => optics_path} Optics
            %li
              %a{:href => sale_items_path} Sale Items
            %li
              %a{:href => wood_path} Wood
            %li.dropdown-header
              %h5
                Catalog
            %li.dropdown.dropdown-submenu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Handguns
              %ul.dropdown-menu.scrollable-menu
                %li
                  %a{:href => "http://shop.customgun.com/catalog.revolvers"} Revolvers
                %li
                  %a{:href => "http://shop.customgun.com/catalog.semi-automatic-handguns"} Semi-Automatic
                %li
                  %a{:href => "http://shop.customgun.com/catalog.lever-action-handguns"} Lever Action
                %li
                  %a{:href => "http://shop.customgun.com/catalog.derringers"} Derringer
                %li
                  %a{:href => "http://shop.customgun.com/catalog.single-shot-handguns"} Single Shot
                %li
                  %a{:href => "http://shop.customgun.com/catalog.black-powder-handguns"} Black Powder
                %li
                  %a{:href => "http://shop.customgun.com/catalog.other-handguns"} Other
            %li.dropdown.dropdown-submenu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Rifles
              %ul.dropdown-menu.scrollable-menu
                %li
                  %a{:href => "http://shop.customgun.com/catalog.semi-automatic-rifles"} Semi-Automatic
                %li
                  %a{:href => "http://shop.customgun.com/catalog.bolt-action-rifles"} Bolt Action
                %li
                  %a{:href => "http://shop.customgun.com/catalog.lever-action-rifles"} Lever Action
                %li
                  %a{:href => "http://shop.customgun.com/catalog.pump-action-rifles"} Pump Action
                %li
                  %a{:href => "http://shop.customgun.com/catalog.combo-rifles"} Combos
                %li
                  %a{:href => "http://shop.customgun.com/catalog.single-shot-rifles"} Single Shot
                %li
                  %a{:href => "http://shop.customgun.com/catalog.lower-receivers"} Lower & Bolt Action Receivers
                %li
                  %a{:href => "http://shop.customgun.com/catalog.black-powder-rifles"} Black Powder
                %li
                  %a{:href => "http://shop.customgun.com/catalog.revolver-rifles"} Revolver
            %li.dropdown.dropdown-submenu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Shotguns
              %ul.dropdown-menu.scrollable-menu
                %li
                  %a{:href => "http://shop.customgun.com/catalog.pump-action-shotguns"} Pump Action
                %li
                  %a{:href => "http://shop.customgun.com/catalog.lever-action-shotguns"} Lever Action
                %li
                  %a{:href => "http://shop.customgun.com/catalog.single-shot-shotguns"} Single Shot
                %li
                  %a{:href => "http://shop.customgun.com/catalog.semi-automatic-shotguns"} Semi-Automatic
                %li
                  %a{:href => "http://shop.customgun.com/catalog.over-under-shotguns"} Over-Under
                %li
                  %a{:href => "http://shop.customgun.com/catalog.side-by-side-shotguns"} Side By Side
                %li
                  %a{:href => "http://shop.customgun.com/catalog.bolt-action-shotguns"} Bolt Action
            %li.dropdown.dropdown-submenu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Ammo
              %ul.dropdown-menu.scrollable-menu
                %li
                  %a{:href => "http://shop.customgun.com/catalog.rifle-ammunition"} Rifle
                %li
                  %a{:href => "http://shop.customgun.com/catalog.handgun-ammunition"} Handgun
                %li
                  %a{:href => "http://shop.customgun.com/catalog.shotgun-ammunition"} Shotgun
                %li
                  %a{:href => "http://shop.customgun.com/catalog.rimfire-ammunition"} Rimfire
                %li
                  %a{:href => "http://shop.customgun.com/catalog.promo-ammunition"} Bulk Ammo
                %li
                  %a{:href => "http://shop.customgun.com/catalog.slugs-ammunition"} Slugs
                %li
                  %a{:href => "http://shop.customgun.com/catalog.blanks"} Blanks
            %li.dropdown.dropdown-submenu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Magazines
              %ul.dropdown-menu.scrollable-menu
                %li
                  %a{:href => "http://shop.customgun.com/catalog.high-capacity-magazines"} High Capacity
                %li
                  %a{:href => "http://shop.customgun.com/catalog.standard-magazines"} Standard
            %li.dropdown.dropdown-submenu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Optics
              %ul.dropdown-menu.scrollable-menu
                %li
                  %a{:href => "http://shop.customgun.com/catalog.binoculars"} Binoculars
                %li
                  %a{:href => "http://shop.customgun.com/catalog.flashlights-batteries"} Flashlights / Batteries
                %li
                  %a{:href => "http://shop.customgun.com/catalog.night-vision"} Night Vision
                %li
                  %a{:href => "http://shop.customgun.com/catalog.optical-accessories"} Optical Accessories
                %li
                  %a{:href => "http://shop.customgun.com/catalog.rangefinder"} Rangefinder
                %li
                  %a{:href => "http://shop.customgun.com/catalog.scope-mounts"} Scope Mounts
                %li
                  %a{:href => "http://shop.customgun.com/catalog.scopes"} Scopes
                %li
                  %a{:href => "http://shop.customgun.com/catalog.sights-lasers-lights"} Sights / Lasers / Lights
                %li
                  %a{:href => "http://shop.customgun.com/catalog.spotting-scopes"} Spotting Scopes
                %li
                  %a{:href => "http://shop.customgun.com/catalog.thermal-optics"} Thermal Optics
            %li.dropdown.dropdown-submenu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Knives
              %ul.dropdown-menu.scrollable-menu
                %li
                  %a{:href => "http://shop.customgun.com/catalog.fixed-blade-knives"} Fixed Blade
                %li
                  %a{:href => "http://shop.customgun.com/catalog.folding-knives"} Folding
                %li
                  %a{:href => "http://shop.customgun.com/catalog.knife-accessories"} Knife Accessories
                %li
                  %a{:href => "http://shop.customgun.com/catalog.utility-knives"} Utility
            %li.dropdown.dropdown-submenu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Parts & Gear
              %ul.dropdown-menu.scrollable-menu
                %li
                  %a{:href => "http://shop.customgun.com/catalog.accessories"} Accessories
                %li
                  %a{:href => "http://shop.customgun.com/catalog.airguns"} Airguns and Slingshots
                %li
                  %a{:href => "http://shop.customgun.com/catalog.barrels-choke-tubes"} Barrels / Choke Tubes
                %li
                  %a{:href => "http://shop.customgun.com/catalog.books-software"} Books / Software
                %li
                  %a{:href => "http://shop.customgun.com/catalog.cleaning-equipment"} Cleaning Equipment
                %li
                  %a{:href => "http://shop.customgun.com/catalog.clothing"} Clothing
                %li
                  %a{:href => "http://shop.customgun.com/catalog.upper-conversion-kits-high-capacity"} Conversion Kits
                %li
                  %a{:href => "http://shop.customgun.com/catalog.decoys"} Decoys
                %li
                  %a{:href => "http://shop.customgun.com/catalog.electronics"} Electronics
                %li
                  %a{:href => "http://shop.customgun.com/catalog.game-calls"} Game Calls
                %li
                  %a{:href => "http://shop.customgun.com/catalog.grips-pads-stocks"} Grips / Pads / Stocks
                %li
                  %a{:href => "http://shop.customgun.com/catalog.hard-gun-cases"} Hard Gun Cases
                %li
                  %a{:href => "http://shop.customgun.com/catalog.holsters"} Holsters
                %li
                  %a{:href => "http://shop.customgun.com/catalog.non-lethal-defense"} Non-Lethal Defense
                %li
                  %a{:href => "http://shop.customgun.com/catalog.parts-gear"} Parts
                %li
                  %a{:href => "http://shop.customgun.com/catalog.pistol-cases"} Pistol Cases
                %li
                  %a{:href => "http://shop.customgun.com/catalog.racks-storage"} Racks
                %li
                  %a{:href => "http://shop.customgun.com/catalog.reloading-equipment"} Reloading Equipment
                %li
                  %a{:href => "http://shop.customgun.com/catalog.safes-security"} Safes / Security
                %li
                  %a{:href => "http://shop.customgun.com/catalog.safety-protection"} Safety / Protection
                %li
                  %a{:href => "http://shop.customgun.com/catalog.sent-cover"} Scent Cover
                %li
                  %a{:href => "http://shop.customgun.com/catalog.slings-swivels"} Slings / Swivels
                %li
                  %a{:href => "http://shop.customgun.com/catalog.soft-gun-cases"} Soft Gun Cases
                %li
                  %a{:href => "http://shop.customgun.com/catalog.steel-targets"} Steel Targets
                %li
                  %a{:href => "http://shop.customgun.com/catalog.survival-food"} Survival Supplies
                %li
                  %a{:href => "http://shop.customgun.com/catalog.targets"} Targets
                %li
                  %a{:href => "http://shop.customgun.com/catalog.tools"} Tools
                %li
                  %a{:href => "http://shop.customgun.com/catalog.upper-receivers-conversion-kits"} Upper Receivers
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Information
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => store_contact_path} Contact
            %li
              %a{:href => payment_policy_path} Payment Policy
            %li
              %a{:href => privacy_policy_path} Privacy Policy
            %li
              %a{:href => return_policy_path} Return Policy
            %li
              %a{:href => shipping_policy_path} Shipping Policy
            %li
              %a{:href => sales_tax_path} Sales Tax
            %li
              %a{:href => terms_and_conditions_path} Terms and Conditions
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in? && !current_user.guest
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              =current_user.name.nil? ? "User" : current_user.name.titleize
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Edit account", edit_user_registration_path
              %li= link_to "Address Book", addresses_path
              %li= link_to 'Authentications', authentications_path
              %li= link_to "Orders", orders_path
              -if current_user.admin?
                %li= link_to "Boxes", boxes_path
                %li= link_to "Carts", carts_path
                %li= link_to "Products", product_management_path
                %li= link_to "Photos", photos_path
                %li= link_to "Shippers", shippers_path
                %li= link_to "Users", users_path
              %li= link_to "Log out", destroy_user_session_path, :method => :delete
        -else
          %li= link_to "Log in", new_user_session_path
        %li
          %a.navbar-brand{:href => cart_path}
            .glyphicon.glyphicon-shopping-cart
            .badge= current_order.quantity
