= form_for @product, :multipart => true do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :price.to_s + " $"
    = f.number_field :price, :class => 'text_field', :step => 0.01
  .field
    = f.label :quantity
    = f.number_field :quantity
  .field
    = f.label :manufacturer
    = f.text_field :manufacturer
  .field
    = f.label :model
    = f.text_field :model
  .field
    = f.label :part_number
    = f.text_field :part_number
  .field
    = f.label :type_field
    = f.text_field :type_field
  .field
    = f.label :style_field
    = f.text_field :style_field
  .field
    = f.label :material
    = f.text_field :material
  .field
    = f.label :caliber.to_s + "/Gauge"
    = f.text_field :caliber
  .field
    = f.label :barrel_length
    = f.number_field :barrel_length, :class => 'text_field', :step => 0.001
    inches
  .field
    = f.label :weight
    = f.number_field :weight, :class => 'text_field', :step => 0.001
    kg
  .field
    = f.label :height
    = f.number_field :height, :class => 'text_field', :step => 0.1
    cm
  .field
    = f.label :width
    = f.number_field :width, :class => 'text_field', :step => 0.1
    cm
  .field
    = f.label :length
    = f.number_field :length, :class => 'text_field', :step => 0.1
    cm
  .field
    = f.label :tags
    = f.text_field :tags
  .field
    = f.label :store.to_s + " Category"
    = f.select :store, [['Barrels', 'barrels'], ['Décor','decor'], ['Gifts', 'gifts'], ['Gun Cases', 'gun_cases'], ['Gun Parts', 'gun_parts'], ['Jewelry', 'jewelry'], ['Optics', 'optics'], ['Wood', 'wood']]
  .field
    = f.label :exclusive.to_s + " (This item ships by itself)"
    = f.check_box :exclusive
  .field
    = f.label :photos
    = f.file_field :image, :multiple => true, name: "photos[image][]"
  .actions
  %br
    = f.submit 'Save', :class => "btn btn-primary"
