%h1 Store

%table.table.table-hover
  %thead
    %tr
      %th Title
      %th Manufacturer
      %th Model
      %th Part number
      %th Price
      %th Quantity
      %th Description
      %th Weight
      %th Height
      %th Width
      %th Length
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.title.titleize, product
        %td= product.manufacturer.titleize
        %td= product.model.titleize
        %td= product.part_number.titleize
        %td= product.price
        %td= product.quantity
        %td= product.description
        %td= product.weight
        %td= product.height
        %td= product.width
        %td= product.length
        %td= link_to 'Edit', edit_product_path(product), class: "btn btn-primary"
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-primary"

%br

= link_to 'New Product', new_product_path
