%h1 Listing products

%table
  %thead
    %tr
      %th Title
      %th Manufacturer
      %th Model
      %th Part number
      %th Price
      %th Quantity
      %th Description
      %th Schematic
      %th Weight
      %th Height
      %th Width
      %th Length
      %th Tags
      %th Categories
      %th Exclusive
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.title
        %td= product.manufacturer
        %td= product.model
        %td= product.part_number
        %td= product.price
        %td= product.quantity
        %td= product.description
        %td= product.schematic
        %td= product.weight
        %td= product.height
        %td= product.width
        %td= product.length
        %td= product.tags
        %td= product.categories
        %td= product.exclusive
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product), class: "btn btn-primary"
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
