%h1 Store

/%table.table.table-hover
/  %thead
/    %tr
/      %th Title
/      %th Price
/      %th
/      %th

/  %tbody
/    - @products.each do |product|
/      %tr
/        %td= link_to product.title.titleize, product
/        %td= number_to_currency product.price
/        %td= link_to 'Edit', edit_product_path(product), class: "btn btn-danger"
/        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

/%br

/= link_to 'New Product', new_product_path, class: "btn btn-danger"



= render   'grid'


.row
  .col-md-2
    Title:
  .col-md-10
    = grid_filter @products_grid, :title_filter


.row
  .col-md-2
    Manufacturer:
  .col-md-10
    = grid_filter @products_grid, :manufacturer_filter


.row
  .col-md-2
    Model:
  .col-md-10
    = grid_filter @products_grid, :model_filter

.row
  .col-md-2
    Part Number:
  .col-md-10
    = grid_filter @products_grid, :part_number_filter

.row
  .col-md-2
    Price:
  .col-md-10
    = grid_filter @products_grid, :price_filter

.row-fluid
  .col-md-12
    .external-buttons
      %button.btn.btn-primary.wg-external-submit-button{'data-grid-name' => 'grid'} Submit
      %button.btn.btn-primary.wg-external-reset-button{'data-grid-name' => 'grid'} Reset

.row-fluid
  .col-md-12

    = render_grid(@products_grid)
