- content_for :title,  "Sale Items"
.page-header
  %h1 Sale Items

= render   'sales_grid'


.row
  .col-md-2
    Search
  .col-md-10
    = grid_filter @sales_grid, :title_filter

  .col-md-2
    Category
  .col-md-10
    = grid_filter @sales_grid, :category_filter


.row
  .col-md-2
    Manufacturer
  .col-md-10
    = grid_filter @sales_grid, :manufacturer_filter

.row
  .col-md-2
    Model
  .col-md-10
    = grid_filter @sales_grid, :model_filter

.row-fluid
  .col-md-12
    .external-buttons
      %button.btn.btn-primary.wg-external-submit-button{'data-grid-name' => 'grid'} Submit
      %button.btn.btn-primary.wg-external-reset-button{'data-grid-name' => 'grid'} Reset
%br
.row-fluid
  .col-md-12

    = render_grid(@sales_grid)





