- content_for :title,  @product.title.titleize
- content_for :head do
  %meta{content: @product.tags, name: "Keywords"}/
  %meta{content: @product.description, name: "Description"}/


%h3.panel= @product.title.titleize
.row
  .col-xs-12.col-sm-6.col-md-8
    .slider
      -count = 1
      -@photos.each do |p|
        %input{:type => "radio", :name => "slide_switch", :id => p.id, :checked => ((count > 1) ? nil : "checked") }
        %label{:for => p.id}= image_tag p.image.thumb, style: 'width:100%;'
        =image_tag p.image.hdpi
        -count += 1
  .col-xs-6.col-md-4
    %table.table
      %tr
        %td Price:
        %td= number_to_currency @product.price
      %tr
        %td Quantity:
        %td
          %select.form-control
            =options_for_select(1..@product.quantity)
      %tr
        %td= link_to "Add to Cart", "#", class: "btn btn-danger"
            


          
.row
  .panel.panel-default
    .panel-heading Product Description
    .panel-body= @product.description.gsub(/([a-z])((?:[^.?!]|\.(?=[a-z]))*)/i) { $1.upcase + $2.rstrip }
    .panel-heading Product Information
    %table.table.panel-body
      %tr
        %td Manufacturer:
        %td= @product.manufacturer.titleize
      %tr
        %td Model:
        %td= @product.model.titleize
      %tr
        %td Part number:
        %td= @product.part_number.titleize
      %tr
        %td Schematic:
        %td= @product.schematic
      %tr
        %td Dimensions (L x W x H):
        %td= dimensions_as_cm(@product) + " / " + dimensions_as_inches(@product)
      %tr
        %td Weight:
        %td= weight_as_metric(@product) + " / " + weight_as_imperial(@product)



= link_to 'Edit', edit_product_path(@product), class: "btn btn-danger"
= link_to 'Back', products_path, class: "btn btn-danger"
