%p#notice= notice

%h2= @product.title.titleize

%p
  .slider
    -count = 1
    -@photos.each do |p|
      %input{:type => "radio", :name => "slide_switch", :id => p.id, :checked => ((count > 1) ? nil : "checked") }
      %label{:for => p.id}= image_tag p.image.thumb, style: 'width:100%;'
      =image_tag p.image.hdpi
      -count += 1

%p
  %b Manufacturer:
  = @product.manufacturer.titleize
%p
  %b Model:
  = @product.model.titleize
%p
  %b Part number:
  = @product.part_number.titleize
%p
  %b Price:
  = @product.price
%p
  %b Quantity:
  = @product.quantity
%p
  %b Description:
  = @product.description
%p
  %b Schematic:
  = @product.schematic
%p
  %b Weight:
  = @product.weight.to_s
%p
  %b Dimensions:
  = @product.length.to_s + ' x ' + @product.width.to_s + ' x ' + @product.height.to_s



= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
