- content_for :title, @product.store.to_s.gsub('_', ' ').titleize + ": " + @product.title.to_s.titleize
- content_for :head do
  %meta{content: @product.tags, name: "Keywords"}/
  %meta{content: @product.description, name: "Description"}/

%h3.panel= @product.title.titleize
.row
  .col-xs-12.col-sm-8.col-md-8.col-lg-8
    -if @photos.count == 1
      .container-liquid
        .widewrapper
          = link_to(image_tag(@photos.first.image.hdpi.url), @photos.first.image.xxhdpi.url, :class => 'image', 'data-fancybox-group' => 'product')
        %br
    -else
      -@photos.each_slice(3) do |p|
        .row
          -p.each do |photo|
            .col-lg-4.col-sm-4.col-md-4.col-xs-4
              .widewrapper
                = link_to(image_tag(photo.image.thumb.url), photo.image.xxhdpi.url, :class => 'image', 'data-fancybox-group' => 'product')
        %br
  .col-lg-4.col-xs-12.col-sm-4.col-md-4.well
    = form_for @item, remote: true do |f|
      .row
        .col-lg-12.col-md-12.col-xs-12.col-sm-12
          %h4.text-right
            -if !(@product.store == "optics" || @product.store == "guns")
              -if @product.quantity.to_i >= 1
                .input-group
                  = f.select :quantity, options_for_select(1..@product.quantity), {}, class: "form-control"
                  .input-group-btn
                    = f.hidden_field :product_id, value: @product.id
                    = f.submit "Add to Cart", class: "btn btn-primary"
              -else
                %span Sold Out
      -if @product.price
        .row
          .col-lg-6.col-md-6.col-xs-6.col-sm-6
            %h4 Price:
          .col-lg-6.col-md-6.col-xs-6.col-sm-6
            .pull-right
              -if @product.sale
                %h4
                  %s
                    .text-muted= number_to_currency @product.price
              -else
                %h4= number_to_currency @product.price
        -if @product.sale
          .row
            .col-lg-6.col-md-6.col-xs-6.col-sm-6
              %h4.text-danger Sale:
            .col-lg-6.col-md-6.col-xs-6.col-sm-6
              .pull-right
                %h4.text-danger=number_to_currency @product.sale_price
          .row
            .col-lg-6.col-md-6.col-xs-6.col-sm-6
              %h4 You Save:
            .col-lg-6.col-md-6.col-xs-6.col-sm-6
              .pull-right
                %h4.text-danger= "#{number_to_currency @product.get_savings} (#{@product.get_percent_saved}%)"
          .row{style: "vertical-align: middle;"}
            .col-lg-6.col-md-6.col-xs-6.col-sm-6
              %h4 Sale Ends:
            .col-lg-6.col-md-6.col-xs-6.col-sm-6
              #defaultCountdown
        -if @product.store == "optics" || @product.store == "guns"
          .row
            .col-lg-12.col-md-12.col-xs-12.col-sm-12
              Contact for more information
          %br
          .row
            .col-lg-6.col-md-6.col-xs-6.col-sm-6 +1-903-768-2948
            .col-lg-6.col-md-6.col-xs-6.col-sm-6= link_to "Call", "tel:+19037682948", class: "btn btn-primary btn-block"
          %br
          .row
            .col-lg-6.col-md-6.col-xs-6.col-sm-6 customgun.tr@gmail.com
            .col-lg-6.col-md-6.col-xs-6.col-sm-6= link_to "Email", "mailto:customgun.tr@gmail.com", class: "btn btn-primary btn-block"

.row
  .panel.panel-default
    .panel-heading Product Description
    .panel-body= @product.description.html_safe
    .panel-heading Product Information
    %table.table.panel-body
      -if(!@product.manufacturer.empty?)
        %tr
          %td Manufacturer:
          %td= @product.manufacturer.titleize
      -if(!@product.model.empty?)
        %tr
          %td Model:
          %td= @product.model.titleize
      -if(!@product.part_number.empty?)
        %tr
          %td Part Number:
          %td= @product.part_number.titleize
      -if(!@product.material.nil? && !@product.material.empty?)
        %tr
          %td Material:
          %td= @product.material.titleize
      -if(!@product.type_field.nil? && !@product.type_field.empty?)
        %tr
          %td Type:
          %td= @product.type_field.titleize
      -if(!@product.style_field.nil? && !@product.style_field.empty?)
        %tr
          %td Style:
          %td= @product.style_field.titleize
      -if(!@product.caliber.nil? && !@product.caliber.empty?)
        %tr
          %td Caliber/Gauge:
          %td= @product.caliber
      -if(!@product.length.nil? && @product.store == 'jewelry')
        %tr
          %td Length:
          %td= @product.length.to_s + " cm." + " / " + (@product.length/2.54).round(2).to_s + " in."
      -if(!@product.barrel_length.nil? && !@product.barrel_length.empty?)
        %tr
          %td Barrel Length:
          %td= @product.barrel_length.to_s + " in."
      -if(!@product.field_of_view_low_power.nil? && !(@product.field_of_view_low_power == 0.0))
        %tr
          %td Field of view low power
          %td= m_yd(@product.field_of_view_low_power)
      -if(!@product.field_of_view_high_power.nil? && !(@product.field_of_view_high_power == 0.0))
        %tr
          %td Field of view high power
          %td= m_yd(@product.field_of_view_high_power)
      -if(!@product.diopter_adjustment.nil? && !(@product.diopter_adjustment.empty?))
        %tr
          %td Diopter adjustment
          %td= @product.diopter_adjustment
      -if(!@product.eye_relief.nil? && !(@product.eye_relief == 0.0))
        %tr
          %td Eye relief
          %td= "~" + mm_thou(@product.eye_relief)
      -if(!@product.exit_pupil_low_power.nil? && !(@product.exit_pupil_low_power == 0.0))
        %tr
          %td Exit pupil low power
          %td= mm_thou(@product.exit_pupil_low_power)
      -if(!@product.exit_pupil_high_power.nil? && !(@product.exit_pupil_high_power == 0.0))
        %tr
          %td Exit pupil high power
          %td= mm_thou(@product.exit_pupil_high_power)
      -if(!@product.elevation_travel.nil? && !(@product.elevation_travel.empty?))
        %tr
          %td Elevation travel
          %td= @product.elevation_travel

      -if(!@product.windage_travel.nil? && !(@product.windage_travel.empty?))
        %tr
          %td Windage travel
          %td= @product.windage_travel
      -if(!@product.moa_per_click_lower.nil? && !(@product.moa_per_click_lower == 0.0) && !@product.moa_per_click_upper.nil? && !(@product.moa_per_click_upper == 0.0))
        %tr
          %td MOA per click
          %td= @product.moa_per_click_upper.to_s + " mm / " +  @product.moa_per_click_lower.to_s + " m. " + (39.3701*@product.moa_per_click_upper).round(1).to_s + " thou / " +  (1.0936*@product.moa_per_click_lower).round(1).to_s + " yd."
      -if(!@product.total_travel.nil? && !(@product.total_travel.empty?))
        %tr
          %td Total travel
          %td= @product.total_travel
      -if(@product.parallax_compensation)
        %tr
          %td Parrallax compensation
          %td 50 m to ∞ m
      -if(!@product.tube_diameter.nil? && !(@product.tube_diameter == 0.0))
        %tr
          %td Tube diameter
          %td= mm_thou(@product.tube_diameter)
      -if(!@product.position_of_reticle.nil? && !(@product.position_of_reticle.empty?))
        %tr
          %td Position of reticle
          %td= @product.position_of_reticle
      -if(!@product.available_reticles.nil? && !(@product.available_reticles.empty?))
        %tr
          %td Available reticles
          %td= @product.available_reticles
      -if(!@product.height.nil? && !@product.width.nil? && !@product.length.nil?)
        %tr
          %td Product Dimensions (L x W x H):
          %td= dimensions_as_cm(@product.length, @product.width, @product.height) + " / " + dimensions_as_inches(@product.length, @product.width, @product.height)
      -if(!@product.weight.nil?)
        %tr
          %td Product Weight:
          %td= weight_as_metric(@product.weight).to_s + " / " + weight_as_imperial(@product.weight).to_s
      -if(!@product.shipping_height.nil? && !@product.shipping_width.nil? && !@product.shipping_length.nil?)
        %tr
          %td Shipping Dimensions (L x W x H):
          %td= dimensions_as_cm(@product.shipping_length, @product.shipping_width, @product.shipping_height) + " / " + dimensions_as_inches(@product.shipping_length, @product.shipping_width, @product.shipping_height)
      -if(!@product.shipping_weight.nil?)
        %tr
          %td Shipping Weight:
          %td= weight_as_metric(@product.shipping_weight).to_s + " / " + weight_as_imperial(@product.shipping_weight).to_s
      -if(!@product.shipper.nil?)
        %tr
          %td Shipped by
          %td= @product.shipper.company_name

-if current_user.admin
  = link_to 'Edit', edit_product_path(@product), class: "btn btn-primary"
  \|
  = link_to 'Back', :back, class: "btn btn-primary"
%br
%br
-if @product.sale_end && @product.sale_end > Time.now
  :javascript
    var saleEnd = new Date("#{@product.sale_end.year}",
    "#{@product.sale_end.month-1}", "#{@product.sale_end.day}",
    "#{@product.sale_end.hour}", "#{@product.sale_end.min}");
    $('#defaultCountdown').countdown({until: saleEnd, compact: true,
    expiryUrl: "#{product_url @product}",
    format: 'HM'});

    $('#removeCountdown').click(function() {
    var destroy = $(this).text() === 'Remove';
    $(this).text(destroy ? 'Re-attach' : 'Remove');
    $('#defaultCountdown').countdown(destroy ? 'destroy' : {until: saleEnd});
    });

:javascript
  $('a.image').fancybox({
  padding: 0,
  showNavArrows: true,
  helpers: {
  overlay: {
  locked: false
  }
  }
  });
