%p
  .slider
    -count = 1
    -@photos.each do |p|
      %input{:type => "radio", :name => "slide_switch", :id => p.id, :checked => ((count > 1) ? nil : "checked") }
      %label{:for => p.id}= image_tag p.image.thumb, style: 'width:100%;'
      =image_tag p.image.hdpi
      -count += 1
.panel.panel-default
  %table.table.panel-body
    %tr
      %td Manufacturer:
      %td= @product.manufacturer.titleize
    %tr
      %td Model:
      %td= @product.model.titleize
    %tr
      %td Part number:
      %td= @product.part_number.titleize
    %tr
      %td Dimensions:
      %td= @product.length.to_s + ' x ' + @product.width.to_s + ' x ' + @product.height.to_s
    %tr
      %td Weight:
      %td= @product.weight.to_s


%table.table
  %tr
    %td Price:
    %td= @product.price
  %tr
    %td Quantity:
    %td= @product.quantity



%p
  %b Description:
  = @product.description
%p
  %b Schematic:
  = @product.schematic

  



= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary"
\|
= link_to 'Back', products_path, class: "btn btn-primary"
