%p#notice= notice

%p
  %b Title:
  = @product.title.titleize
%p
  %b Manufacturer:
  = @product.manufacturer.titleize
%p
  %b Model:
  = @product.model.titleize
%p
  %b Part number:
  = @product.part_number.titleize
%p
  %b Price:
  = @product.price
%p
  %b Quantity:
  = @product.quantity
%p
  %b Description:
  = @product.description
%p
  -@photos.each do |p|
    = image_tag p.image.thumb
%p
  %b Schematic:
  = @product.schematic
%p
  %b Weight:
  = @product.weight
%p
  %b Height:
  = @product.height
%p
  %b Width:
  = @product.width
%p
  %b Length:
  = @product.length
%p
  %b Tags:
  = @product.tags
%p
  %b Categories:
  = @product.categories
%p
  %b Exclusive:
  = @product.exclusive



= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
