- content_for :title,  "Wood"
.page-header
  %h1 Wood


= render   'wood_grid'


.row
  .col-md-2
    Search
  .col-md-10
    = grid_filter @wood_grid, :title_filter


.row
  .col-md-2
    Manufacturer
  .col-md-10
    = grid_filter @wood_grid, :manufacturer_filter


.row
  .col-md-2
    Model
  .col-md-10
    = grid_filter @wood_grid, :model_filter

.row
  .col-md-2
    Caliber/Gauge
  .col-md-10
    = grid_filter @wood_grid, :caliber_filter

.row
  .col-md-2
    Type
  .col-md-10
    = grid_filter @wood_grid, :type_filter


.row
  .col-md-2
    Style
  .col-md-10
    = grid_filter @wood_grid, :style_filter

%br
.row-fluid
  .col-md-12
    .external-buttons
      %button.btn.btn-primary.wg-external-submit-button{'data-grid-name' => 'grid'} Submit
      %button.btn.btn-primary.wg-external-reset-button{'data-grid-name' => 'grid'} Reset

.row-fluid
  .col-md-12

    = render_grid(@wood_grid)
