<% content_for :title,  t('boddington_rifle_project') %>
<% content_for :header,  t('boddington_rifle_project') %>
<% content_for :head do %>
<meta name="Keywords" content="Todd Ramirez, custom rifles, premium rifles, big game rifles, african rifles, deer hunting rifles, Craig Boddington, Boddington 7 x 57, Square Bridge, Left Handed Rifles, Left Hand Action">
<% end %>
<div id="content">
<%= brn(3) + lightbox('556.jpeg', 'g0')%>
<%= ptext('boddington_rifle_project_text0')%>
<%= qtext('boddington_rifle_project_text1') + brn(2)%>
<%= ptext('boddington_rifle_project_text2')%>
<%= link_to(ptext('boddington_rifle_project_text3'), boddington_trophy_path) + brn(5)%>
<%= ttext('boddington_rifle_project_text4')%>
<%= ptext('boddington_rifle_project_text5') + br()%>
<%= gallery('256.jpeg 45.jpeg 305.jpeg 540.jpeg 430.jpeg 246.jpeg 105.jpeg 201.jpeg 334.jpeg 539.jpeg 555.jpeg 39.jpeg 412.jpeg 205.jpeg 26.jpeg 410.jpeg', 'g1') + brn(5)%>

<%= ttext('boddington_rifle_project_text6') + br()%>
<%= gallery('29.jpeg 358.jpeg 313.jpeg 248.jpeg 30.jpeg 118.jpeg 620.jpeg 277.jpeg 63.jpeg 266.jpeg 176.jpeg 544.jpeg 608.jpeg 393.jpeg', 'g2')  + brn(5)%>

<%= ttext('boddington_rifle_project_text7') + br()%>
<%= gallery('85.jpeg 53.jpeg 320.jpeg 451.jpeg 613.jpeg 464.jpeg 50.jpeg 441.jpeg 619.jpeg 138.jpeg 399.jpeg 279.jpeg 157.jpeg 316.jpeg 500.jpeg 185.jpeg 551.jpeg 362.jpeg 70.jpeg 571.jpeg 136.jpeg 589.jpeg 198.jpeg 557.jpeg 445.jpeg 230.jpeg 234.jpeg 408.jpeg 476.jpeg 352.jpeg 623.jpeg 470.jpeg 121.jpeg 404.jpeg', 'g3')  + brn(5)%>

<%= ttext('boddington_rifle_project_text8') + br()%>
<%= gallery('210.jpeg 728.jpeg 642.jpeg 959.jpeg 712.jpeg 713.jpeg 786.jpeg', 'g4')  + brn(5)%>

<%= ttext('boddington_rifle_project_text9') + br()%>
<%= gallery('401.jpeg 409.jpeg 675.jpeg 135.jpeg 74.jpeg 163.jpeg 768.jpeg 938.jpeg 630.jpeg 693.jpeg 180.jpeg 465.jpeg 94.jpeg 115.jpeg 262.jpeg 153.jpeg 609.jpeg 191.jpeg 65.jpeg 312.jpeg 572.jpeg 252.jpeg', 'g5')  + brn(5)%>

<%= ttext('boddington_rifle_project_text10') + br()%>
<%= gallery('875.jpeg 957.jpeg 735.jpeg', 'g6')  + brn(5)%>

<%= ttext('boddington_rifle_project_text11') + br()%>
<%= gallery('285.jpeg 54.jpeg 595.jpeg 606.jpeg 181.jpeg 289.jpeg 237.jpeg 424.jpeg', 'g7')  + brn(5)%>

<%= ttext('boddington_rifle_project_text12') + br()%>
<%= gallery('917.jpeg 711.jpeg 220.jpeg 961.jpeg 763.jpeg 809.jpeg 919.jpeg 868.jpeg 310.jpeg 826.jpeg 934.jpeg 946.jpeg 769.jpeg 699.jpeg', 'g8')  + brn(5)%>

<%= ttext('boddington_rifle_project_text13') + br()%>
<%= gallery('933.jpeg 784.jpeg 690.jpeg 865.jpeg 754.jpeg 661.jpeg 553.jpeg 287.jpeg 864.jpeg 506.jpeg 359.jpeg 391.jpeg 818.jpeg 574.jpeg', 'g9') + brn(5)%>
<%= gallery('112.jpeg 73.jpeg  913.jpeg 52.jpeg 104.jpeg', 'g10') + brn(10)%>

</div>
