= form_for @shipment do |f|
  - if @shipment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shipment.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @shipment.errors.full_messages.each do |msg|
          %li= msg

  .field
    .input-group
      %span#tracking-addon.input-group-addon Tracking Number
      = f.text_field :tracking, placeholder: "Tracking number", class: "form-control input-lg","aria-describedby" => "tracking-addon"
  %p
  .actions
    = f.submit 'Save', :class => "btn btn-primary"
%p
