<% content_for :title,  t('guns_for_sale') %>
<% content_for :header,  t('guns_for_sale') %>
<% content_for :head do %>
<meta name="Keywords" content="custom rifles, shotguns, beretta, bolt action rifles, synthetic rifles">
<meta name="Description" content="Guns for sale">
<% end %>
<div id="content">
<%= ttext('guns_for_sale_text0')%>
<%= link_to(ptext('guns_for_sale_text1'), "mailto:customgun.tr@gmail.com")%>
<%= ptext('guns_for_sale_text2') + br()%>
<%= lightbox('1015.jpeg', 'g0') + br()%>
<%= ttext('guns_for_sale_text3')%>
<%= ptext('guns_for_sale_text4_html') + brn(3)%>
<%= lightbox('1016.jpeg', 'g0')%>
<%= gallery('1018.jpeg 1017.jpeg 1019.jpeg 1020.jpeg 1021.jpeg 1022.jpeg', 'g0')%>
<%= lightbox('1023.jpeg', 'g0')%>
<%= lightbox('1024.jpeg', 'g0')%>
<%= lightbox('1026.jpeg', 'g0')%>
<%= lightbox('1025.jpeg', 'g0')%>
<%= lightbox('1027.jpeg', 'g0')%>
<%= lightbox('1029.jpeg', 'g0')%>
<%= lightbox('1030.jpeg', 'g0')%>
<%= lightbox('1031.jpeg', 'g0') + brn(10)%>
<%= ptext('guns_for_sale_text5_html') + brn(10)%>
</div>
