<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="language" content="english"/>
    <meta name="robots" content="index,follow"/>
    <meta name="revisit-after" content="20 days"/>
    <meta name="distribution" content="global"/>
    <meta name="copyright" content=" <%= t('copyright')%>"/>
    <link rel="canonical" href="http://customgun.com">
      <title>
        <%= (yield(:title) + " | Todd Ramirez | " unless
            yield(:title).blank?).to_s.html_safe + "Custom Shop" %></title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <% if content_for?(:head) %>
      <%= yield(:head) %>
      <% end %>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<%= favicon_link_tag 'theme/default/favicon.png' %>
</head>
<body>
<script type="text/javascript">
$('a.image').fancybox({
  padding: 0,
showNavArrows: true,
  helpers: {
    overlay: {
      locked: false
    }
  }
});
</script>
<script type="text/javascript">
$(document).ready(function(){
  document.oncontextmenu = function() {return false;};

  $(document).mousedown(function(e){
    if( e.button == 2 ) {
      dispHandle("dash");
      return false;
    }
    return true;
  });
});
</script>


<div id="container">
<div id="dash"  style="display: none">
<a onclick="dispHandle('dash')" class="close_button" title="<%=t('close_button_text')%>" alt=>X</a>
<div class="centered">
<table id="social"><tr>
<td>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://www.facebook.com/pages/Todd-Ramirez-Custom-Shop-LLC/644847572210704" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></td>
<td><a href="https://twitter.com/Todd_Ramirez_CS" class="twitter-follow-button" data-show-count="false">Follow @Todd_Ramirez_CS</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
<td>
<div class="g-plusone" data-size="standard" data-annotation="bubble"></div>
</td>
</tr></table></div>
<br>
<div class="centered">
<table id="actual-table">
<tr>
<td> <%= lx('home.png', 'home', 'home' ) %></td>
<td> <%= lx('custom_rifles.png', 'custom-rifles', 'custom_rifles' ) %></td>
<td> <%= lx('synthetic_rifles.png', 'synthetic-rifles', 'synthetic_rifles' )%></td>
<td> <%= lx('signature_rifle.png', 'signature-rifle', 'signature_rifle' )%></td>
<td> <%= lx('gun_fitting.png', 'gun-fitting', 'gun_fitting' ) %></td>
</tr><tr>
<td> <%= lx('shotguns.png', 'shotguns', 'shotguns' ) %></td>
<td> <%= lx('oil_finishes.png', 'oil-finishes', 'oil_finishes' ) %></td>
<td> <%= lx('leather_wrap_pads.png', 'leather-wrap-pads', 'leather_wrap_pads' ) %></td>
<td> <%= lx('stock_work.png', 'stock-work', 'stock_work' ) %></td>
<td> <%= lx('restoration.png', 'restoration', 'restoration' ) %></td>
</tr><tr>
<td> <%= lx('double_rifles.png', 'double-rifles', 'double_rifles' ) %></td>
<td> <%= lx('custom_work.png', 'custom-work', 'custom_work' ) %></td>
<td> <%= lx('metal_finishes.png', 'metal-finishes', 'metal_finishes') %></td>
<td> <%= lx('metal_work.png', 'metal-work', 'metal_work' ) %></td>
<td> <%= lx('engraving.png', 'engraving', 'engraving' ) %></td>
</tr><tr>
<td> <%= lx('boddington_rifle_project.png', 'boddington-rifle-project', 'boddington_rifle_project' ) %></td>
<td> <%= lx('boddington_trophy.png', 'boddington-trophy', 'boddington_trophy' ) %></td>
<td> <%= lx('photo_gallery.png', 'photo-gallery', 'photo_gallery' ) %></td>
<td> <%= lx('gun_parts.png', 'gun-parts', 'gun_parts' ) %></td>
<td> <%= lx('guns_for_sale.png', 'guns-for-sale', 'guns_for_sale' ) %></td>
</tr><tr>
<td> <%= lx('payment_and_shipping.png', 'payment-and-shipping', 'payment_and_shipping_html' ) %></td>
<td> <%= lx('media.png', 'media', 'media' ) %></td>
<td> <%= lx('contact.png', 'contact', 'contact' ) %></td>
<td> <%= lx('about_us.png', 'about-us', 'about_us' ) %></td>
<td> <%= lx('show_schedule.png', 'show-schedule', 'show_schedule' ) %></td>
</tr><tr>
<td> <%= lx('taylors_pens_and_gifts.png', 'taylors-pens-and-gifts', 'taylors_pens_and_gifts_html' ) %></td>
<td> <%= lx('pens.png', 'pens', 'pens' ) %></td>
<td> <%= lx('bottle_stoppers.png', 'wine-stoppers', 'wine_stoppers' ) %></td>
<td> <%= lx('key_chains.png', 'key-chains', 'key_chains' ) %></td>
<td> <%= lx('bracelet_helpers.png', 'bracelet-helpers', 'bracelet_helpers' ) %></td>
</tr>
</table>
<br>
</div>
</div>
 <div id="menu" onclick="dispHandle('dash')">
  <%= image_tag('theme/default/tr.svg', :title => t('menu_button_text'), :alt => 'TR')%>
  <abbr title="<%=t('menu_button_text')%>"><%=t('main_menu')%></abbr>
  </div>
<div id="box">
<br>
<div id="page-title"> <%= yield(:header) %> </div>
<%= yield %>
</div>
<div id="footer"> <%= t('copyright')%></div>
</div>
</body>
</html>
