!!! Strict
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{content: "english", name: "language"}/
    %meta{content: "index,follow", name: "robots"}/
    %meta{content: "20 days", name: "revisit-after"}/
    %meta{content: "global", name: "distribution"}/
    %meta{content: "#{t('copyright0') + Time.now.year.to_s + t('copyright1')}", name: "copyright"}/
    %link{href: "http://customgun.com", rel: "canonical"}/
    %title
      ="Todd Ramirez | Custom Shop | Store" + (" | " + yield(:title) unless |
        yield(:title).blank?).to_s.html_safe |
    = favicon_link_tag 'theme/store_default/favicon.png'
    = javascript_include_tag "application"
    = stylesheet_link_tag    "store"
    = csrf_meta_tags
    - if content_for?(:head)
      = yield(:head)



  %body
  =render :partial => "nav"
  .container
    .flash
      - flash.each do |key, value|
        -if key.to_s == 'notice'
          %div{:class => "alert bg-success alert-dismissible"}
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            =  value
        -else
          %div{:class => "alert bg-danger alert-dismissible"}
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            =  value

    =yield



:javascript
  (function($){
  $(document).ready(function(){
  $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
  event.preventDefault(); 
  event.stopPropagation(); 
  $(this).parent().siblings().removeClass('open');
  $(this).parent().toggleClass('open');
  });
  });
  })(jQuery);
